<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Vizion</title>
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/jpg">
    <meta name="theme-color" content="#101B25">
    <meta name="msapplication-navbutton-color" content="#101B25">
    <meta name="apple-mobile-web-app-status-bar-style" content="#101B25">
</head>

<body id="main">
${require('../parts/header.html')}
<main class="main">
    <div class="nf">
        <div class="container">
            <div class="breadcrumbs">
                <a href="/">Головна</a>
                <span>Сторінка не знайдена</span>
            </div>
        </div>
        <div class="nf-page">
            <div class="container">
                <div class="page-title">Сторінка не знайдена</div>
                <div class="nf-txt">Будь ласка, перейдіть на попередню сторінку або скористайтеся меню сайту або
                    перейдіть до нашого каталогу.
                </div>
                <a href="javascript:void(0)" class="btn nf-back">До каталогу</a>
            </div>
            <div class="nf-pic">
                <picture>
                    <source media="(min-width: 575px)" srcset="../../images/404.webp" type="image/webp">
                    <source media="(min-width: 575px)" srcset="../../images/404.png" type="image/png">
                    <source srcset="../../images/pixel.webp" data-original="../../images/404-mob.webp" class="lazy-web"
                            type="image/webp">
                    <source srcset="../../images/pixel.png" data-original="../../images/404-mob.png" class="lazy-web"
                            type="image/png">
                    <img src="../../images/pixel.png" data-original="../../images/404-mob.png" class="lazy" alt="">
                </picture>
            </div>
        </div>
    </div>
</main>
${require('../parts/footer.html')}
<div class="mfp-hide">

</div>

</body>

</html>
