<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Vizion</title>
  <link rel="shortcut icon" href="../../images/favicon.png" type="image/jpg">
  <meta name="theme-color" content="#101B25">
  <meta name="msapplication-navbutton-color" content="#101B25">
  <meta name="apple-mobile-web-app-status-bar-style" content="#101B25">
</head>

<body id="main">
  ${require('../parts/header.html')}
  <main class="main">
    <div class="container">
        <div class="breadcrumbs">
            <a href="javascript:void(0)">Головна</a>
            <a href="javascript:void(0)">Блог</a>
            <span>Обладнання VIZION в Україні</span>
        </div>
        <div class="blog-article">
            <h1 class="page-title">Обладнання VIZION в Україні</h1>
            <a href="javascript:void(0)" class="blog-article__back">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.57813 10.55C3.45313 10.425 3.39063 10.277 3.39063 10.106C3.39063 9.93533 3.45313 9.7875 3.57813 9.6625L7.24063 6L3.56562 2.325C3.44896 2.20833 3.39062 2.0625 3.39062 1.8875C3.39062 1.7125 3.45312 1.5625 3.57812 1.4375C3.70312 1.3125 3.85113 1.25 4.02213 1.25C4.19279 1.25 4.34063 1.3125 4.46563 1.4375L8.66563 5.65C8.71563 5.7 8.75113 5.75417 8.77213 5.8125C8.79279 5.87083 8.80313 5.93333 8.80313 6C8.80313 6.06667 8.79279 6.12917 8.77213 6.1875C8.75113 6.24583 8.71563 6.3 8.66563 6.35L4.45312 10.5625C4.33646 10.6792 4.19279 10.7375 4.02213 10.7375C3.85113 10.7375 3.70313 10.675 3.57813 10.55Z" fill="#AF3B2B"/>
                </svg>
                Повернутися до Блогу
            </a>
            <picture class="blog-article__pic">
                <source srcset="../../images/pixel.webp" data-original="../../images/blog.webp" class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog.jpg" class="lazy-web" type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog.jpg" class="lazy" alt="">
            </picture>
            <div class="blog-article__category">
                <a href="javascript:void(0)">Лабораторія</a>
                <span class="blog-article__date">08.06.2022</span>
            </div>
            <div class="blog-article__main">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus donec risus cras mi. Amet tortor sociis penatibus quam. Ultrices urna faucibus tristique in hendrerit semper mattis tortor. Varius elit, et sit adipiscing laoreet eros, ac. Mi convallis diam purus, iaculis in molestie sit augue. Quam quis amet eget laoreet commodo eget lorem. Aliquam enim magna sit elementum. Urna sagittis non habitasse scelerisque.</p>
                <ol>
                    <li>Dolor vitae, mattis scelerisque aliquet blandit tristique mauris</li>
                    <li>Dolor vitae, mattis </li>
                    <li>Dolor vitae, mattis scelerisque aliquet blandit</li>
                    <li>Dolor vitae, mattis scelerisque aliquet blandit tristique mauris</li>
                </ol>
                <p>Purus vulputate ut mauris accumsan et nulla nulla sed. Posuere justo, ornare condimentum in elementum lacus. Mauris sapien egestas nunc amet adipiscing sit aliquam. Duis magna ultricies varius arcu, ac massa at eros. Mi tellus posuere amet nec, dignissim tincidunt magna. </p>
                <h2>Каковы факторы успеха компании в сегменте рынка медицинского оборудования бывшего в употреблении?  </h2>
                <p>Sollicitudin amet urna accumsan, et porta vivamus vitae. Cras sed nibh id ultrices in bibendum est. Posuere vivamus augue eu ut sagittis, lectus hac sed. Lorem felis sit ultricies elementum et tincidunt. Dui eget dignissim feugiat nulla consequat. Amet, sollicitudin laoreet molestie arcu. Cras lectus id viverra interdum.
                    Ornare adipiscing libero tempus, sed praesent. Aliquam porttitor nullam viverra nunc lorem. Nisl fames leo, arcu porttitor interdum feugiat convallis risus. Nisl nisl, eu phasellus tincidunt. Eleifend quisque eget eget nibh at nascetur tellus.
                    Habitasse volutpat amet eu amet. Mattis fames eu at in egestas diam aliquam libero. </p>
                <p>Purus vulputate ut mauris accumsan et nulla nulla sed. Posuere justo, ornare condimentum in elementum lacus. Mauris sapien egestas nunc amet adipiscing sit aliquam. Duis magna ultricies varius arcu, ac massa at eros. Mi tellus posuere amet nec, dignissim tincidunt magna. Nec nibh sollicitudin pretium auctor. Eleifend scelerisque cursus scelerisque elit. Fermentum, cursus tincidunt viverra arcu ornare elementum vulputate. Cras hac in proin tellus in sollicitudin purus sed ipsum. Dolor sit aliquet viverra volutpat aenean. Ullamcorper leo ultricies sapien neque, iaculis tortor donec et. Dolor urna, euismod arcu sed. In purus aenean risus sollicitudin vitae.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus donec risus cras mi. Amet tortor sociis penatibus quam. Ultrices urna faucibus tristique in hendrerit semper mattis tortor. Varius elit, et sit adipiscing laoreet eros, ac. Mi convallis diam purus, iaculis in molestie sit augue. Quam quis amet eget laoreet commodo eget lorem. Aliquam enim magna sit elementum. Urna sagittis non habitasse scelerisque.</p>
                <ul>
                    <li>Dolor vitae, mattis scelerisque aliquet blandit tristique mauris</li>
                    <li>Dolor vitae, mattis </li>
                    <li>Dolor vitae, mattis scelerisque aliquet blandit</li>
                    <li>Dolor vitae, mattis scelerisque aliquet blandit tristique mauris</li>
                </ul>
                <p>Dolor vitae, mattis scelerisque aliquet blandit tristique mauris scelerisque cras. Eget et condimentum in enim consequat interdum nunc lorem vitae. Egestas sed mauris neque eget molestie mollis nunc fermentum. Tincidunt arcu etiam amet vitae. Tellus mattis sit facilisi tellus tincidunt orci. Lorem nisi tellus pharetra non aliquam aliquet quis lorem ac. Diam faucibus quam risus, sed in. Adipiscing purus pellentesque risus proin. Et nunc, velit id nisl, nisl dignissim. Iaculis ac augue dictum posuere. Commodo ac vitae sagittis, lectus eu. Mi euismod vel morbi est elit mauris. Nulla massa tristique feugiat nunc aliquet morbi pulvinar mi magna.</p>
                <p>Sollicitudin amet urna accumsan, et porta vivamus vitae. Cras sed nibh id ultrices in bibendum est. Posuere vivamus augue eu ut sagittis, lectus hac sed. Lorem felis sit ultricies elementum et tincidunt. Dui eget dignissim feugiat nulla consequat. Amet, sollicitudin laoreet molestie arcu. Cras lectus id viverra interdum.
                    Ornare adipiscing libero tempus, sed praesent. Aliquam porttitor nullam viverra nunc lorem. Nisl fames leo, arcu porttitor interdum feugiat convallis risus. Nisl nisl, eu phasellus tincidunt. Eleifend quisque eget eget nibh at nascetur tellus.
                    Habitasse volutpat amet eu amet. Mattis fames eu at in egestas diam aliquam libero. At vestibulum sapien risus natoque mauris. Leo ultrices ac platea dolor, nisl. Arcu vel amet aliquam lacus volutpat.</p>
            </div>
            <div class="blog-article__navigation">
                <a href="javascript:void(0)" class="button prev">
                    <i>
                        <svg width="9" height="16" viewBox="0 0 9 16" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.64063 1.175C8.82813 1.3625 8.92188 1.5845 8.92188 1.841C8.92188 2.097 8.82813 2.31875 8.64063 2.50625L3.14687 8L8.65938 13.5125C8.83438 13.6875 8.92188 13.9063 8.92188 14.1688C8.92188 14.4312 8.82813 14.6563 8.64063 14.8437C8.45312 15.0312 8.23112 15.125 7.97462 15.125C7.71862 15.125 7.49687 15.0312 7.30937 14.8437L1.00937 8.525C0.934374 8.45 0.881125 8.36875 0.849625 8.28125C0.818625 8.19375 0.803124 8.1 0.803124 8C0.803124 7.9 0.818625 7.80625 0.849625 7.71875C0.881125 7.63125 0.934374 7.55 1.00937 7.475L7.32813 1.15625C7.50313 0.981251 7.71863 0.893751 7.97463 0.893751C8.23113 0.893751 8.45313 0.987501 8.64063 1.175Z"
                                fill="#17232E"/>
                        </svg>
                    </i>
                    Faucibus donec risus cras mi.
                </a>
                <a class="button next" href="javascript:void(0)">
                    Amet tortor sociis penatibus quam.
                    <i>
                        <svg width="9" height="16" viewBox="0 0 9 16" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.359375 14.825C0.171875 14.6375 0.078125 14.4155 0.078125 14.159C0.078125 13.903 0.171875 13.6813 0.359375 13.4938L5.85313 8L0.340625 2.4875C0.165625 2.3125 0.078125 2.09375 0.078125 1.83125C0.078125 1.56875 0.171875 1.34375 0.359375 1.15625C0.546875 0.96875 0.768875 0.875 1.02538 0.875C1.28138 0.875 1.50313 0.96875 1.69063 1.15625L7.99063 7.475C8.06563 7.55 8.11888 7.63125 8.15038 7.71875C8.18138 7.80625 8.19688 7.9 8.19688 8C8.19688 8.1 8.18138 8.19375 8.15038 8.28125C8.11888 8.36875 8.06563 8.45 7.99063 8.525L1.67187 14.8438C1.49687 15.0188 1.28138 15.1063 1.02538 15.1063C0.768875 15.1063 0.546875 15.0125 0.359375 14.825Z"
                                fill="#17232E"/>
                        </svg>
                    </i>
                </a>
            </div>
        </div>
    </div>
  </main>
  ${require('../parts/footer.html')}
  <div class="mfp-hide">

  </div>

</body>

</html>
