<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Providian</title>
  <link rel="shortcut icon" href="../../images/favicon.png" type="image/jpg">
  <meta name="theme-color" content="#0B4899">
  <meta name="msapplication-navbutton-color" content="#0B4899">
  <meta name="apple-mobile-web-app-status-bar-style" content="#0B4899">
</head>

<body id="main">
  ${require('../parts/header.html')}
  <div class="header-spacer"></div>
  <main class="main">
    <div class="container">
      <div class="breadcrumbs">
        <a href="javascript:void(0)">Главная</a>
        <span>Блог</span>
      </div>
      <div class="page-head">
        <h1 class="page-head__title">Блог</h1>
        <p class="page-head__text">Различная полезная информация о медицинском оборудовании, его обслуживании и
          ремонте,<br> а также самую малость о нас :)</p>
      </div>
      <div class="blog blog-not-found">
        <div class="blog-head">
          <div class="cat-all">
            <div class="cat-all__main">
              <span>Категории</span>
              <span class="cat-all__main-name">Все</span>
              <i><svg width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M5.24986 0.250096L0.749856 0.250096C0.704296 0.250239 0.659637 0.262805 0.620687 0.28644C0.581737 0.310076 0.549971 0.343887 0.528807 0.384234C0.507644 0.424581 0.497885 0.469936 0.500581 0.515417C0.503276 0.560897 0.518325 0.604782 0.544106 0.642346L2.79411 3.89235C2.88736 4.0271 3.11186 4.0271 3.20536 3.89235L5.45536 0.642346C5.4814 0.60486 5.49667 0.560954 5.49952 0.515398C5.50236 0.469841 5.49266 0.424377 5.47148 0.383945C5.4503 0.343512 5.41844 0.309658 5.37937 0.28606C5.34029 0.262463 5.2955 0.250024 5.24986 0.250096Z"
                    fill="#36A4EE" />
                </svg>
              </i>
            </div>
            <div class="cat-all__inner">
              <ul>
                <li>
                  <a href="javascript:void(0)">О компании</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Ремонт и обслуживание</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Эндосокопия</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Электрохирургия</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Узи диагностика</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Операционная</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Анестезиология. Реанимация. Интенсивная терапия</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Дерматология</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Химиотерапия</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Стерилизаторы (автоклавы)</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Кардиология и кардиохирургия</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Ортопедия</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Урология</a>
                </li>
                <li>
                  <a href="javascript:void(0)">ЛОР</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Проктология</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Пластическая хирургия</a>
                </li>
              </ul>
              <div>
                <a href="javascript:void(0)">Все рубрики</a>
              </div>
            </div>
          </div>
          <div class="cat-popular">
            <span>Популярные:</span>
            <div>
              <a href="javascript:void(0)">Эндоскопия</a>
              <a href="javascript:void(0)">Электрохирургия</a>
            </div>
          </div>
        </div>
        <div class="blog-wrapper row">
          <div class="blog-content col-md-9">
            <div class="blog-not-found__inner">
              <span>Информация не найдена.</span>
              <span>Пожалуйста, попробуйте изменить запрос.</span>
            </div>
          </div>
          <div class="blog-aside col-md-3">
            <div class="blog-aside__sidebar">
              <form class="blog-form">
                <input type="search" name="text" value="" placeholder="Поиск по блогу">
                <button type="submit">
                  <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M8.16407 2.525C9.24713 2.52401 10.3062 2.84427 11.2072 3.44527C12.1082 4.04627 12.8107 4.901 13.2259 5.90134C13.641 6.90168 13.7502 8.00268 13.5395 9.06505C13.3288 10.1274 12.8077 11.1034 12.0422 11.8696C11.2768 12.6358 10.3012 13.1578 9.23903 13.3694C8.17684 13.5811 7.07575 13.473 6.07503 13.0587C5.07431 12.6445 4.21894 11.9427 3.61712 11.0423C3.0153 10.1418 2.69407 9.08307 2.69407 8C2.70063 6.55083 3.27888 5.16281 4.30315 4.13761C5.32741 3.11241 6.7149 2.53289 8.16407 2.525ZM8.16407 1.5C6.87849 1.5 5.62178 1.88122 4.55286 2.59545C3.48394 3.30968 2.65082 4.32484 2.15885 5.51256C1.66688 6.70028 1.53816 8.00721 1.78896 9.26809C2.03977 10.529 2.65883 11.6872 3.56787 12.5962C4.47691 13.5052 5.6351 14.1243 6.89598 14.3751C8.15686 14.6259 9.46379 14.4972 10.6515 14.0052C11.8392 13.5132 12.8544 12.6801 13.5686 11.6112C14.2828 10.5423 14.6641 9.28558 14.6641 8C14.6641 6.27609 13.9792 4.62279 12.7603 3.40381C11.5413 2.18482 9.88797 1.5 8.16407 1.5Z"
                      fill="#252525" />
                    <path
                      d="M17.5005 16.6451L13.8155 12.9351L13.1055 13.6401L16.7905 17.3501C16.8368 17.3967 16.8918 17.4337 16.9524 17.4591C17.013 17.4844 17.078 17.4976 17.1437 17.4978C17.2094 17.4981 17.2745 17.4854 17.3353 17.4604C17.3961 17.4355 17.4513 17.3988 17.498 17.3526C17.5446 17.3063 17.5816 17.2512 17.607 17.1906C17.6323 17.13 17.6455 17.065 17.6457 16.9993C17.646 16.9336 17.6333 16.8685 17.6083 16.8077C17.5834 16.747 17.5468 16.6917 17.5005 16.6451Z"
                      fill="#252525" />
                  </svg>
                </button>
              </form>
              <div class="blog-aside__title">
                <span>последние статьи</span>
              </div>
              <div class="blog-aside__articles">
                <a href="javascript:void(0)">
                  <small>31/01/2020</small>
                  <span class="sidebar-blog__item-title">Lorem ipsum dolor sit amet, consectetur
                    adipiscingirut...</span>
                </a>
                <a href="javascript:void(0)">
                  <small>31/01/2020</small>
                  <span class="sidebar-blog__item-title">Ipsum dolor sit amet, consect</span>
                </a>
                <a href="javascript:void(0)">
                  <small>31/01/2020</small>
                  <span class="sidebar-blog__item-title">Dolor sit amet, consectetur adipiscingirut...</span>
                </a>
                <a href="javascript:void(0)">
                  <small>31/01/2020</small>
                  <span class="sidebar-blog__item-title">Lorem ipsum dolor sit amet</span>
                </a>
                <a href="javascript:void(0)">
                  <small>31/01/2020</small>
                  <span class="sidebar-blog__item-title">Lorem ipsum dolor sit amet, consectetur
                    adipiscingirut...</span>
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}
  <div class="mfp-hide">

  </div>

</body>

</html>
