<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Vizion</title>
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/jpg">
    <meta name="theme-color" content="#101B25">
    <meta name="msapplication-navbutton-color" content="#101B25">
    <meta name="apple-mobile-web-app-status-bar-style" content="#101B25">
</head>

<body id="main">
${require('../parts/header.html')}
<main class="main">
    <div class="container">
        <div class="breadcrumbs">
            <a href="javascript:void(0)">Главная</a>
            <span>Оформлення замовлення</span>
        </div>
        <div class="page-title">Оформлення замовлення</div>
    </div>
    </div>
    <div class="container">
        <div class="checkout-page">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <div class="checkout-order checkout-order--form">
                        <span class="checkout-order__title">Ваші данні</span>

                        <form class="chechout-form ajax_form clear-styles">
                            <div class="input-wrapper">
                                <label>ПІБ</label>
                                <input class="input" type="text" name="full-name" data-title="ФИО"
                                       data-validate-required="Заповніть поле ПІБ">
                            </div>
                            <div class="input-wrapper">
                                <label>Email</label>
                                <input class="input" type="text" name="email" data-title="Email"
                                       data-validate-required="Заповніть поле Email">
                            </div>
                            <div class="input-wrapper">
                                <label>Телефон</label>
                                <input class="input" type="text" name="phone" data-title="Телефон"
                                       data-validate-uaphone="Заповніть поле Телефон">
                            </div>

                            <div class="input-wrapper">
                                <label>Спосіб доставки</label>
                                <select class="select delivery">
                                    <option value="self">Самовивіз</option>
                                    <option selected value="nova">Нова пошта</option>
                                </select>
                            </div>

                            <div class="deliver deliver-nova">
                                <div class="input-wrapper">
                                    <label>Область</label>
                                    <select class="select obl">
                                        <option disabled selected>Вибрати</option>
                                        <option>Область 1</option>
                                        <option>Область 2</option>
                                        <option>Область 3</option>
                                        <option>Область 3</option>
                                        <option>Область 4</option>
                                        <option>Область 5</option>
                                        <option>Область 6</option>
                                    </select>
                                </div>
                                <div class="input-wrapper">
                                    <label>Місто</label>
                                    <select class="select obl">
                                        <option disabled selected>Вибрати</option>
                                        <option>Місто 1</option>
                                        <option>Місто 2</option>
                                        <option>Місто 3</option>
                                        <option>Місто 4</option>
                                        <option>Місто 5</option>
                                        <option>Місто 6</option>
                                        <option>Місто 7</option>
                                        <option>Місто 8</option>
                                        <option>Місто 9</option>
                                    </select>
                                </div>
                                <div class="input-wrapper">
                                    <label>Відділення</label>
                                    <select class="select obl">
                                        <option disabled selected>Вибрати</option>
                                        <option>Відділення 1</option>
                                        <option>Відділення 2</option>
                                        <option>Відділення 3</option>
                                        <option>Відділення 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-wrapper">
                                <label>Способ оплати</label>
                                <select class="select">
                                    <option selected>Післяоплата</option>
                                    <option>Оплата карткою</option>
                                </select>
                            </div>
                            <div class="input-wrapper chechout-comments">
                                <label>Коментарій</label>
                                <textarea class="textarea" name="message" data-title="Коментарій"></textarea>
                            </div>
                            <div class="chechout-form__footer">
                                <button class="btn" type="submit">Оформити замовлення</button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                    <div class="checkout-order checkout-order--goods">
                        <span class="checkout-order__title">Ваше замовлення</span>
                        <div class="checkout-goods">
                            <div class="checkout-goods__item">
                                <span class="checkout-goods__item-close">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
<circle cx="7.5" cy="7.5" r="7" stroke="#6C6C6C"/>
<path
    d="M9.94207 5.93151L8.32332 7.55026L9.94207 9.16901C10.1535 9.38047 10.1535 9.73047 9.94207 9.94193C9.8327 10.0513 9.69416 10.1023 9.55562 10.1023C9.41707 10.1023 9.27853 10.0513 9.16916 9.94193L7.55041 8.32318L5.93166 9.94193C5.82228 10.0513 5.68374 10.1023 5.5452 10.1023C5.40666 10.1023 5.26812 10.0513 5.15874 9.94193C5.05704 9.83901 5 9.70016 5 9.55547C5 9.41078 5.05704 9.27192 5.15874 9.16901L6.77749 7.55026L5.15874 5.93151C4.94728 5.72005 4.94728 5.37005 5.15874 5.15859C5.3702 4.94714 5.7202 4.94714 5.93166 5.15859L7.55041 6.77734L9.16916 5.15859C9.38062 4.94714 9.73062 4.94714 9.94207 5.15859C10.1535 5.37005 10.1535 5.72005 9.94207 5.93151Z"
    fill="#6C6C6C"/>
</svg>
                                </span>
                                <div class="checkout-goods__item-wrapper">
                                    <div class="checkout-goods__item-pic">
                                        <picture>
                                            <source srcset="../../images/pixel.webp"
                                                    data-original="../../images/pic-01.webp" class="lazy-web"
                                                    type="image/webp">
                                            <source srcset="../../images/pixel.png"
                                                    data-original="../../images/pic-01.png"
                                                    class="lazy-web" type="image/png">
                                            <img src="../../images/pixel.png" data-original="../../images/pic-01.png"
                                                 class="lazy" alt="">
                                        </picture>
                                    </div>
                                    <div class="checkout-goods__item-about">
                                        <a href="javascript:void(0)">Апарат штучної вентиляції легенів Inspiration 3e
                                            eVent
                                            Medical </a>
                                        <span>71264015</span>
                                    </div>
                                </div>
                                <div class="checkout-goods__item-counter">
                                    <div class="checkout-goods__item-price">3446748 <span>грн</span></div>
                                    <div class="checkout-goods__item-quantity">
                                        <span class="minus">-</span>
                                        <input class="value" value="1" type="text"
                                               oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        <span class="plus">+</span>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout-goods__item">
                                <span class="checkout-goods__item-close">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
<circle cx="7.5" cy="7.5" r="7" stroke="#6C6C6C"/>
<path
    d="M9.94207 5.93151L8.32332 7.55026L9.94207 9.16901C10.1535 9.38047 10.1535 9.73047 9.94207 9.94193C9.8327 10.0513 9.69416 10.1023 9.55562 10.1023C9.41707 10.1023 9.27853 10.0513 9.16916 9.94193L7.55041 8.32318L5.93166 9.94193C5.82228 10.0513 5.68374 10.1023 5.5452 10.1023C5.40666 10.1023 5.26812 10.0513 5.15874 9.94193C5.05704 9.83901 5 9.70016 5 9.55547C5 9.41078 5.05704 9.27192 5.15874 9.16901L6.77749 7.55026L5.15874 5.93151C4.94728 5.72005 4.94728 5.37005 5.15874 5.15859C5.3702 4.94714 5.7202 4.94714 5.93166 5.15859L7.55041 6.77734L9.16916 5.15859C9.38062 4.94714 9.73062 4.94714 9.94207 5.15859C10.1535 5.37005 10.1535 5.72005 9.94207 5.93151Z"
    fill="#6C6C6C"/>
</svg>
                                </span>
                                <div class="checkout-goods__item-wrapper">
                                    <div class="checkout-goods__item-pic">
                                        <picture>
                                            <source srcset="../../images/pixel.webp"
                                                    data-original="../../images/pic-01.webp" class="lazy-web"
                                                    type="image/webp">
                                            <source srcset="../../images/pixel.png"
                                                    data-original="../../images/pic-01.png"
                                                    class="lazy-web" type="image/png">
                                            <img src="../../images/pixel.png" data-original="../../images/pic-01.png"
                                                 class="lazy" alt="">
                                        </picture>
                                    </div>
                                    <div class="checkout-goods__item-about">
                                        <a href="javascript:void(0)">Апарат штучної вентиляції легенів Inspiration 3e
                                            eVent
                                            Medical </a>
                                        <span>71264015</span>
                                    </div>
                                </div>
                                <div class="checkout-goods__item-counter">
                                    <div class="checkout-goods__item-price">3446748 <span>грн</span></div>
                                    <div class="checkout-goods__item-quantity">
                                        <span class="minus">-</span>
                                        <input class="value" value="1" type="text"
                                               oninput="this.value=this.value.replace(/[^0-9\.]/g,'');">
                                        <span class="plus">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkout-order__footer">
                            <div class="checkout-order__total">
                                <span>Загальна сумма:</span>
                                <strong>3446748 <span>грн</span></strong>
                            </div>
                            <div class="checkout-order__footnote">Без урахування суми за доставку</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
${require('../parts/footer.html')}
<div class="mfp-hide">

</div>

</body>

</html>
