<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Providian</title>
  <link rel="shortcut icon" href="../../images/favicon.png" type="image/jpg">
  <meta name="theme-color" content="#0B4899">
  <meta name="msapplication-navbutton-color" content="#0B4899">
  <meta name="apple-mobile-web-app-status-bar-style" content="#0B4899">
</head>

<body id="main">
  ${require('../parts/header.html')}
  <div class="header-spacer"></div>
  <main class="main">
    <div class="container">
      <div class="breadcrumbs">
          <a href="javascript:void(0)">Главная</a>
          <span>Оплата и доставка</span>
      </div>
    </div>
    <div class="page-head">
      <h1 class="page-head__title">Оплата и доставка</h1>
      <p class="page-head__text">Наш интернет-магазин медицинского оборудования Providian Medical предлагает удобные<br>
        способы оплаты и доставки продукции.<br>
        Выбирайте подходящий вариант при оформлении заказа!</p>
      <div class="delivery-payment">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="delivery-payment__cont">
                <span class="delivery-payment__title">Доставка</span>
                <ul class="delivery-payment__list">
                  <li>
                    <span>Самовывоз со склада в Киеве</span>
                    <p>Вы выбираете при оформлении заказа на сайте вариант доставки «самовывоз» или согласовываете с
                      менеджером при оформлении
                      заказа по телефону. После чего забираете приобретенное оборудование на нашем складе в г. Киев или
                      у нас в офисе после
                      предварительной договоренности</p>
                  </li>
                  <li>
                    <span>Доставка Новой Почтой</span>
                    <p>Вы выбираете доставку посредством транспортной компании «Новая почта» на сайте или указываете
                      этот способ в разговоре с
                      менеджером. Подтверждаем заказ и отправляем вам ТТН</p>
                  </li>
                  <li>
                    <span>Доставка транспортной компанией</span>
                    <p>Выбирайте доставку посредством транспортной компанией на сайте или укажите менеджеру в телефонном
                      звонке с менеджером.
                      После подтверждения заказа мы отправим Вам ТТН</p>
                  </li>
                  <li>
                    <span>Доставка курьером</span>
                    <p>Укажите метод доставки «доставка курьером» при оформлении заказа на сайте или во время общения с
                      менеджером по продажам.
                      После подтверждения заказа мы сообщим Вам детали доставки</p>
                  </li>
                </ul>
                <span class="delivery-payment__bot">Доставка осуществляется бесплатно!</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="delivery-payment__cont">
                <span class="delivery-payment__title">Оплата</span>
                <ul class="delivery-payment__list">
                  <li>
                    <span>Наложенный платеж</span>
                    <p>Вы выбираете данный метод оплаты и оплачиваете оборудование после получения в отделении
                      Транспортной компании</p>
                  </li>
                  <li>
                    <span>Безналичный расчет (ФОП или НДС)</span>
                    <p>Оплата на расчетный счет предприятия – можем работать как с НДСниками так и с ФОПами или физ.
                      лицами</p>
                  </li>
                  <li>
                    <span>Перевод на банковскую карту</span>
                    <p>Оплата происходит посредством перевода на банковскую карту, которую Вам предоставит менеджер
                      компании Providian</p>
                  </li>
                  <li>
                    <span>Онлайн оплата на сайте Visa, Mastercard – WayForPay</span>
                    <p>Оплата происходит непосредственно на сайте через сервис онлайн оплаты WayForPay – Вам нужно будет
                      ввести данные Вашей
                      карты или просто завершить оплату в приложении Вашего банка</p>
                  </li>
                  <li>
                    <span>Наличными</span>
                    <p>Вы оплачиваете наличными деньгами во время покупки оборудования у нас в офисе или во время
                      самовывоза с нашего склада</p>
                  </li>
                  <li>
                    <span>Оплата в рассрочку</span>
                    <p>Мы обсуждаем варианты предоставления оплаты в рассрочку и после согласования и утверждения сроков
                      оплат, Вы получаете
                      оборудование</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    ${require('../parts/consult-form.html')}
  </main>
  ${require('../parts/footer.html')}
  <div class="mfp-hide">

  </div>

</body>

</html>
