<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Providian</title>
  <link rel="shortcut icon" href="../../images/favicon.png" type="image/jpg">
  <meta name="theme-color" content="#0B4899">
  <meta name="msapplication-navbutton-color" content="#0B4899">
  <meta name="apple-mobile-web-app-status-bar-style" content="#0B4899">
</head>

<body id="main">
  ${require('../parts/header.html')}
  <div class="header-spacer"></div>
  <main class="main">
    <div class="container">
      <div class="breadcrumbs">
        <a href="javascript:void(0)">Главная</a>
        <span>FAQ</span>
      </div>
    </div>
    </div>
    <div class="page-head">
      <h1 class="page-head__title">FAQ</h1>
    </div>
    <div class="faq">
      <div class="container">
        <div class="blog-head">
          <div class="cat-all">
            <div class="cat-all__main">
              <span>Категории</span>
              <span class="cat-all__main-name">Bce</span>
              <i><svg width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M5.24986 0.250096L0.749856 0.250096C0.704296 0.250239 0.659637 0.262805 0.620687 0.28644C0.581737 0.310076 0.549971 0.343887 0.528807 0.384234C0.507644 0.424581 0.497885 0.469936 0.500581 0.515417C0.503276 0.560897 0.518325 0.604782 0.544106 0.642346L2.79411 3.89235C2.88736 4.0271 3.11186 4.0271 3.20536 3.89235L5.45536 0.642346C5.4814 0.60486 5.49667 0.560954 5.49952 0.515398C5.50236 0.469841 5.49266 0.424377 5.47148 0.383945C5.4503 0.343512 5.41844 0.309658 5.37937 0.28606C5.34029 0.262463 5.2955 0.250024 5.24986 0.250096Z"
                    fill="#36A4EE" />
                </svg>
              </i>
            </div>
            <div class="cat-all__inner">
              <ul>
                <li>
                  <a href="javascript:void(0)">О компании</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Ремонт и обслуживание</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Эндосокопия</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Электрохирургия</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Узи диагностика</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Операционная</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Анестезиология. Реанимация. Интенсивная терапия</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Дерматология</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Химиотерапия</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Стерилизаторы (автоклавы)</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Кардиология и кардиохирургия</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Ортопедия</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Урология</a>
                </li>
                <li>
                  <a href="javascript:void(0)">ЛОР</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Проктология</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Пластическая хирургия</a>
                </li>
              </ul>
              <div>
                <a href="javascript:void(0)">Все рубрики</a>
              </div>
            </div>
          </div>
        </div>
        <div class="faq__inner">
          <div>
            <div class="faq-head acc-head">
              <span>What are your esthetics needs?</span>
              <i>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="20" height="20" fill="white" />
                  <g clip-path="url(#clip0_2451_3450)">
                    <path
                      d="M12.2499 8.24985L7.74986 8.24985C7.7043 8.24999 7.65964 8.26256 7.62069 8.2862C7.58174 8.30983 7.54997 8.34364 7.52881 8.38399C7.50764 8.42434 7.49788 8.46969 7.50058 8.51517C7.50328 8.56065 7.51832 8.60454 7.54411 8.6421L9.79411 11.8921C9.88736 12.0269 10.1119 12.0269 10.2054 11.8921L12.4554 8.6421C12.4814 8.60462 12.4967 8.56071 12.4995 8.51515C12.5024 8.4696 12.4927 8.42413 12.4715 8.3837C12.4503 8.34327 12.4184 8.30941 12.3794 8.28582C12.3403 8.26222 12.2955 8.24978 12.2499 8.24985Z"
                      fill="#36A4EE" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2451_3450">
                      <rect width="6" height="6" fill="white" transform="translate(13 13) rotate(-180)" />
                    </clipPath>
                  </defs>
                </svg>
              </i>
            </div>
            <div class="faq-body acc-body">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet
                libero convallis nec.
                Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit
                volutpat. Class
                aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh
                porttitor, lacinia
                diam quis, rhoncus urna. Sed placerat convallis justo. Sed at cursus quam. Nam elit tellus, ultricies in
                pulvinar at,
                semper eu ipsum. Pellentesque faucibus quam ut gravida porta.</span>
            </div>
          </div>
          <div>
            <div class="faq-head acc-head">
              <span>What are your esthetics needs?</span>
              <i>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="20" height="20" fill="white" />
                  <g clip-path="url(#clip0_2451_3450)">
                    <path
                      d="M12.2499 8.24985L7.74986 8.24985C7.7043 8.24999 7.65964 8.26256 7.62069 8.2862C7.58174 8.30983 7.54997 8.34364 7.52881 8.38399C7.50764 8.42434 7.49788 8.46969 7.50058 8.51517C7.50328 8.56065 7.51832 8.60454 7.54411 8.6421L9.79411 11.8921C9.88736 12.0269 10.1119 12.0269 10.2054 11.8921L12.4554 8.6421C12.4814 8.60462 12.4967 8.56071 12.4995 8.51515C12.5024 8.4696 12.4927 8.42413 12.4715 8.3837C12.4503 8.34327 12.4184 8.30941 12.3794 8.28582C12.3403 8.26222 12.2955 8.24978 12.2499 8.24985Z"
                      fill="#36A4EE" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2451_3450">
                      <rect width="6" height="6" fill="white" transform="translate(13 13) rotate(-180)" />
                    </clipPath>
                  </defs>
                </svg>
              </i>
            </div>
            <div class="faq-body acc-body">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet
                libero convallis nec.
                Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit
                volutpat. Class
                aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh
                porttitor, lacinia
                diam quis, rhoncus urna. Sed placerat convallis justo. Sed at cursus quam. Nam elit tellus, ultricies in
                pulvinar at,
                semper eu ipsum. Pellentesque faucibus quam ut gravida porta.</span>
            </div>
          </div>
          <div>
            <div class="faq-head acc-head">
              <span>What are your esthetics needs?</span>
              <i>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="20" height="20" fill="white" />
                  <g clip-path="url(#clip0_2451_3450)">
                    <path
                      d="M12.2499 8.24985L7.74986 8.24985C7.7043 8.24999 7.65964 8.26256 7.62069 8.2862C7.58174 8.30983 7.54997 8.34364 7.52881 8.38399C7.50764 8.42434 7.49788 8.46969 7.50058 8.51517C7.50328 8.56065 7.51832 8.60454 7.54411 8.6421L9.79411 11.8921C9.88736 12.0269 10.1119 12.0269 10.2054 11.8921L12.4554 8.6421C12.4814 8.60462 12.4967 8.56071 12.4995 8.51515C12.5024 8.4696 12.4927 8.42413 12.4715 8.3837C12.4503 8.34327 12.4184 8.30941 12.3794 8.28582C12.3403 8.26222 12.2955 8.24978 12.2499 8.24985Z"
                      fill="#36A4EE" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2451_3450">
                      <rect width="6" height="6" fill="white" transform="translate(13 13) rotate(-180)" />
                    </clipPath>
                  </defs>
                </svg>
              </i>
            </div>
            <div class="faq-body acc-body">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet
                libero convallis nec.
                Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit
                volutpat. Class
                aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh
                porttitor, lacinia
                diam quis, rhoncus urna. Sed placerat convallis justo. Sed at cursus quam. Nam elit tellus, ultricies in
                pulvinar at,
                semper eu ipsum. Pellentesque faucibus quam ut gravida porta.</span>
            </div>
          </div>
          <div>
            <div class="faq-head acc-head">
              <span>What are your esthetics needs?</span>
              <i>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="20" height="20" fill="white" />
                  <g clip-path="url(#clip0_2451_3450)">
                    <path
                      d="M12.2499 8.24985L7.74986 8.24985C7.7043 8.24999 7.65964 8.26256 7.62069 8.2862C7.58174 8.30983 7.54997 8.34364 7.52881 8.38399C7.50764 8.42434 7.49788 8.46969 7.50058 8.51517C7.50328 8.56065 7.51832 8.60454 7.54411 8.6421L9.79411 11.8921C9.88736 12.0269 10.1119 12.0269 10.2054 11.8921L12.4554 8.6421C12.4814 8.60462 12.4967 8.56071 12.4995 8.51515C12.5024 8.4696 12.4927 8.42413 12.4715 8.3837C12.4503 8.34327 12.4184 8.30941 12.3794 8.28582C12.3403 8.26222 12.2955 8.24978 12.2499 8.24985Z"
                      fill="#36A4EE" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2451_3450">
                      <rect width="6" height="6" fill="white" transform="translate(13 13) rotate(-180)" />
                    </clipPath>
                  </defs>
                </svg>
              </i>
            </div>
            <div class="faq-body acc-body">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet
                libero convallis nec.
                Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit
                volutpat. Class
                aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh
                porttitor, lacinia
                diam quis, rhoncus urna. Sed placerat convallis justo. Sed at cursus quam. Nam elit tellus, ultricies in
                pulvinar at,
                semper eu ipsum. Pellentesque faucibus quam ut gravida porta.</span>
            </div>
          </div>
          <div>
            <div class="faq-head acc-head">
              <span>What are your esthetics needs?</span>
              <i>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="20" height="20" fill="white" />
                  <g clip-path="url(#clip0_2451_3450)">
                    <path
                      d="M12.2499 8.24985L7.74986 8.24985C7.7043 8.24999 7.65964 8.26256 7.62069 8.2862C7.58174 8.30983 7.54997 8.34364 7.52881 8.38399C7.50764 8.42434 7.49788 8.46969 7.50058 8.51517C7.50328 8.56065 7.51832 8.60454 7.54411 8.6421L9.79411 11.8921C9.88736 12.0269 10.1119 12.0269 10.2054 11.8921L12.4554 8.6421C12.4814 8.60462 12.4967 8.56071 12.4995 8.51515C12.5024 8.4696 12.4927 8.42413 12.4715 8.3837C12.4503 8.34327 12.4184 8.30941 12.3794 8.28582C12.3403 8.26222 12.2955 8.24978 12.2499 8.24985Z"
                      fill="#36A4EE" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2451_3450">
                      <rect width="6" height="6" fill="white" transform="translate(13 13) rotate(-180)" />
                    </clipPath>
                  </defs>
                </svg>
              </i>
            </div>
            <div class="faq-body acc-body">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet
                libero convallis nec.
                Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit
                volutpat. Class
                aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh
                porttitor, lacinia
                diam quis, rhoncus urna. Sed placerat convallis justo. Sed at cursus quam. Nam elit tellus, ultricies in
                pulvinar at,
                semper eu ipsum. Pellentesque faucibus quam ut gravida porta.</span>
            </div>
          </div>
          <div>
            <div class="faq-head acc-head">
              <span>What are your esthetics needs?</span>
              <i>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="20" height="20" fill="white" />
                  <g clip-path="url(#clip0_2451_3450)">
                    <path
                      d="M12.2499 8.24985L7.74986 8.24985C7.7043 8.24999 7.65964 8.26256 7.62069 8.2862C7.58174 8.30983 7.54997 8.34364 7.52881 8.38399C7.50764 8.42434 7.49788 8.46969 7.50058 8.51517C7.50328 8.56065 7.51832 8.60454 7.54411 8.6421L9.79411 11.8921C9.88736 12.0269 10.1119 12.0269 10.2054 11.8921L12.4554 8.6421C12.4814 8.60462 12.4967 8.56071 12.4995 8.51515C12.5024 8.4696 12.4927 8.42413 12.4715 8.3837C12.4503 8.34327 12.4184 8.30941 12.3794 8.28582C12.3403 8.26222 12.2955 8.24978 12.2499 8.24985Z"
                      fill="#36A4EE" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2451_3450">
                      <rect width="6" height="6" fill="white" transform="translate(13 13) rotate(-180)" />
                    </clipPath>
                  </defs>
                </svg>
              </i>
            </div>
            <div class="faq-body acc-body">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet
                libero convallis nec.
                Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit
                volutpat. Class
                aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh
                porttitor, lacinia
                diam quis, rhoncus urna. Sed placerat convallis justo. Sed at cursus quam. Nam elit tellus, ultricies in
                pulvinar at,
                semper eu ipsum. Pellentesque faucibus quam ut gravida porta.</span>
            </div>
          </div>
          <div>
            <div class="faq-head acc-head">
              <span>What are your esthetics needs?</span>
              <i>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="20" height="20" fill="white" />
                  <g clip-path="url(#clip0_2451_3450)">
                    <path
                      d="M12.2499 8.24985L7.74986 8.24985C7.7043 8.24999 7.65964 8.26256 7.62069 8.2862C7.58174 8.30983 7.54997 8.34364 7.52881 8.38399C7.50764 8.42434 7.49788 8.46969 7.50058 8.51517C7.50328 8.56065 7.51832 8.60454 7.54411 8.6421L9.79411 11.8921C9.88736 12.0269 10.1119 12.0269 10.2054 11.8921L12.4554 8.6421C12.4814 8.60462 12.4967 8.56071 12.4995 8.51515C12.5024 8.4696 12.4927 8.42413 12.4715 8.3837C12.4503 8.34327 12.4184 8.30941 12.3794 8.28582C12.3403 8.26222 12.2955 8.24978 12.2499 8.24985Z"
                      fill="#36A4EE" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2451_3450">
                      <rect width="6" height="6" fill="white" transform="translate(13 13) rotate(-180)" />
                    </clipPath>
                  </defs>
                </svg>
              </i>
            </div>
            <div class="faq-body acc-body">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet
                libero convallis nec.
                Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit
                volutpat. Class
                aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh
                porttitor, lacinia
                diam quis, rhoncus urna. Sed placerat convallis justo. Sed at cursus quam. Nam elit tellus, ultricies in
                pulvinar at,
                semper eu ipsum. Pellentesque faucibus quam ut gravida porta.</span>
            </div>
          </div>
          <div>
            <div class="faq-head acc-head">
              <span>What are your esthetics needs?</span>
              <i>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="20" height="20" fill="white" />
                  <g clip-path="url(#clip0_2451_3450)">
                    <path
                      d="M12.2499 8.24985L7.74986 8.24985C7.7043 8.24999 7.65964 8.26256 7.62069 8.2862C7.58174 8.30983 7.54997 8.34364 7.52881 8.38399C7.50764 8.42434 7.49788 8.46969 7.50058 8.51517C7.50328 8.56065 7.51832 8.60454 7.54411 8.6421L9.79411 11.8921C9.88736 12.0269 10.1119 12.0269 10.2054 11.8921L12.4554 8.6421C12.4814 8.60462 12.4967 8.56071 12.4995 8.51515C12.5024 8.4696 12.4927 8.42413 12.4715 8.3837C12.4503 8.34327 12.4184 8.30941 12.3794 8.28582C12.3403 8.26222 12.2955 8.24978 12.2499 8.24985Z"
                      fill="#36A4EE" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2451_3450">
                      <rect width="6" height="6" fill="white" transform="translate(13 13) rotate(-180)" />
                    </clipPath>
                  </defs>
                </svg>
              </i>
            </div>
            <div class="faq-body acc-body">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet
                libero convallis nec.
                Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit
                volutpat. Class
                aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh
                porttitor, lacinia
                diam quis, rhoncus urna. Sed placerat convallis justo. Sed at cursus quam. Nam elit tellus, ultricies in
                pulvinar at,
                semper eu ipsum. Pellentesque faucibus quam ut gravida porta.</span>
            </div>
          </div>
          <div>
            <div class="faq-head acc-head">
              <span>What are your esthetics needs?</span>
              <i>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="20" height="20" fill="white" />
                  <g clip-path="url(#clip0_2451_3450)">
                    <path
                      d="M12.2499 8.24985L7.74986 8.24985C7.7043 8.24999 7.65964 8.26256 7.62069 8.2862C7.58174 8.30983 7.54997 8.34364 7.52881 8.38399C7.50764 8.42434 7.49788 8.46969 7.50058 8.51517C7.50328 8.56065 7.51832 8.60454 7.54411 8.6421L9.79411 11.8921C9.88736 12.0269 10.1119 12.0269 10.2054 11.8921L12.4554 8.6421C12.4814 8.60462 12.4967 8.56071 12.4995 8.51515C12.5024 8.4696 12.4927 8.42413 12.4715 8.3837C12.4503 8.34327 12.4184 8.30941 12.3794 8.28582C12.3403 8.26222 12.2955 8.24978 12.2499 8.24985Z"
                      fill="#36A4EE" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2451_3450">
                      <rect width="6" height="6" fill="white" transform="translate(13 13) rotate(-180)" />
                    </clipPath>
                  </defs>
                </svg>
              </i>
            </div>
            <div class="faq-body acc-body">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt erat diam, id aliquet
                libero convallis nec.
                Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit
                volutpat. Class
                aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vitae nibh
                porttitor, lacinia
                diam quis, rhoncus urna. Sed placerat convallis justo. Sed at cursus quam. Nam elit tellus, ultricies in
                pulvinar at,
                semper eu ipsum. Pellentesque faucibus quam ut gravida porta.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    ${require('../parts/consult-form.html')}
  </main>
  ${require('../parts/footer.html')}
  <div class="mfp-hide">

  </div>

</body>

</html>
