<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Providian</title>
  <link rel="shortcut icon" href="../../images/favicon.png" type="image/jpg">
  <meta name="theme-color" content="#0B4899">
  <meta name="msapplication-navbutton-color" content="#0B4899">
  <meta name="apple-mobile-web-app-status-bar-style" content="#0B4899">
</head>

<body id="main">
  ${require('../parts/header.html')}
  <div class="header-spacer"></div>
  <main class="main">
    <div class="container">
      <div class="breadcrumbs">
        <a href="javascript:void(0)">Главная</a>
        <span>Оформление заказа</span>
      </div>
    </div>
    </div>
    <div class="page-head">
      <h1 class="page-head__title">Ваша корзина пуста</h1>
    </div>
    <div class="no-goods-page">
      <div class="container">
        <p>Пожалуйста, перейдите в Каталог для выбора товара либо вернитесь на Главную страницу:</p>
        <div class="no-goods-page__links">
          <a href="javascript:void(0)" class="btn">На главную</a>
          <a href="javascript:void(0)" class="btn">В каталог</a>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}
  <div class="mfp-hide">

  </div>

</body>

</html>
