<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Vizion</title>
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/jpg">
    <meta name="theme-color" content="#101B25">
    <meta name="msapplication-navbutton-color" content="#101B25">
    <meta name="apple-mobile-web-app-status-bar-style" content="#101B25">
</head>

<body id="main">
${require('../parts/header.html')}
<main class="main">
    <div class="return-page">
        <div class="container">
            <div class="breadcrumbs">
                <a href="/">Головна</a>
                <span>Обмін та повернення</span>
            </div>
            <div class="page-title">Обмін та повернення</div>
            <div class="return-page__wrapper row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="return-page__info">
                        <p><strong>Повернути товар у магазин можна протягом 14 днів із дня покупки.</strong></p>
                        <p>Це правило поширюється на товари належної якості, тобто невикористані та непошкоджені. Згідно з пунктом 5 частини першої статті 1 Закону гарантійний термін виносить 12 місяців протягом якого ми беремо на себе зобов'язання про здійснення безоплатного ремонту або заміни відповідної продукції у зв'язку з введенням її в обіг.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="return-page__info">
                        <p><strong>Щоб повернути або обміняти товар, треба дотримуватися умов його повернення:</strong></p>
                        <ul>
                            <li>є касовий або товарний чек;</li>
                            <li>товару немає в переліку тих, що не підлягають обміну та поверненню;</li>
                            <li>товар не використовувався і зберігся в тому вигляді, в якому його купували;</li>
                            <li>минуло менше двох тижнів з моменту придбання товару.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        ${require('../parts/consult-form.html')}
    </div>
</main>
${require('../parts/footer.html')}
</body>

</html>
