<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Vizion</title>
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/jpg">
    <meta name="theme-color" content="#101B25">
    <meta name="msapplication-navbutton-color" content="#101B25">
    <meta name="apple-mobile-web-app-status-bar-style" content="#101B25">
</head>

<body id="main">
${require('../parts/header.html')}
<main class="main">
    <div class="container">
        <div class="breadcrumbs">
            <a href="/">Головна</a>
            <span>Відгуки</span>
        </div>
        <div class="page-title">Відгуки</div>
        <div class="page-reviews">
            <div class="page-reviews__top">
                <div class="page-reviews__top-wrapper">
                    <p class="page-head__top-text">Залишайте свої відгуки та побажання. </p>
                    <span class="btn page-reviews__top-btn">Залишити відгук</span>
                </div>
                <div class="page-reviews__top-form">
                    <div class="page-reviews__top-form-title"><span>Напишіть відгук</span></div>
                    <form class="review-form ajax_form clear-styles" data-error-title="Помилка відправки!"
                          data-error-message="Спробуйте пізніше" data-success-title="Дякуємо за відгук"
                          data-success-message="Відгук буде опубліковано після перевірки модератором">
                        <div class="review-form__wrapper">
                            <div class="review-form__row">
                                <div class="review-form__inner">
                                    <label>Ім’я</label>
                                    <div class="input-wrapper">
                                        <input class="input" type="text" name="name" data-title="Name"
                                               data-validate-required="Заповніть поле Ім’я">
                                    </div>
                                </div>
                                <div class="review-form__inner">
                                    <label>Email</label>
                                    <div class="input-wrapper">
                                        <input class="input" type="text" name="email" data-title="Email"
                                               data-validate-required="Заповніть поле Email">
                                    </div>
                                </div>
                            </div>
                            <div class="review-form__inner">
                                <label>Ваш відгук</label>
                                <div class="input-wrapper">
                                            <textarea class="textarea" name="message"
                                                      data-validate-required="Напишіть свій відгук"
                                                      data-title="Повідомлення"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="review-form__rating">
                            <span>Ваша оцінка</span>
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="grade" value="5"><label class="rating-star"
                                                                                             for="star5"></label>
                                <input type="radio" id="star4" name="grade" value="4"><label class="rating-star"
                                                                                             for="star4"></label>
                                <input type="radio" id="star3" name="grade" value="3"><label class="rating-star"
                                                                                             for="star3"></label>
                                <input type="radio" id="star2" name="grade" value="2"><label class="rating-star"
                                                                                             for="star2"></label>
                                <input type="radio" id="star1" name="grade" value="1"><label class="rating-star"
                                                                                             for="star1"></label>
                            </fieldset>
                        </div>
                        <button class="btn btn-b" type="submit" data-sending="Відправляється..." data-error="Помилка :(" data-sent="Відправлено">Залишити відгук</button>
                    </form>
                </div>
            </div>
            <div class="page-reviews__content">
                <div class="reviews-item">
                    <div class="reviews-item__rating">
                        <div class="rating-stars">
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star"></span>
                        </div>
                    </div>
                    <div class="reviews-item__text">
                        Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...
                    </div>
                    <div class="reviews-item__bot">
                        <span class="reviews-item__date">08.06.2022</span>
                        <span class="reviews-item__name">Аліна</span>
                    </div>
                </div>
                <div class="reviews-item">
                    <div class="reviews-item__rating">
                        <div class="rating-stars">
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star"></span>
                        </div>
                    </div>
                    <div class="reviews-item__text">
                        Curabitur tincidunt erat diam, id aliquet libero convallis nec. Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...                </div>
                    <div class="reviews-item__bot">
                        <span class="reviews-item__date">08.06.2022</span>
                        <span class="reviews-item__name">Кирило</span>
                    </div>
                </div>
                <div class="reviews-item">
                    <div class="reviews-item__rating">
                        <div class="rating-stars">
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star"></span>
                        </div>
                    </div>
                    <div class="reviews-item__text">
                        Nullam elementum lobortis elit. Vivamus eget fringilla tellus.                 </div>
                    <div class="reviews-item__bot">
                        <span class="reviews-item__date">08.06.2022</span>
                        <span class="reviews-item__name">Андрій</span>
                    </div>
                </div>
                <div class="reviews-item">
                    <div class="reviews-item__rating">
                        <div class="rating-stars">
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star"></span>
                        </div>
                    </div>
                    <div class="reviews-item__text">
                        Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...
                    </div>
                    <div class="reviews-item__bot">
                        <span class="reviews-item__date">08.06.2022</span>
                        <span class="reviews-item__name">Аліна</span>
                    </div>
                </div>
                <div class="reviews-item">
                    <div class="reviews-item__rating">
                        <div class="rating-stars">
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star"></span>
                        </div>
                    </div>
                    <div class="reviews-item__text">
                        Curabitur tincidunt erat diam, id aliquet libero convallis nec. Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...                </div>
                    <div class="reviews-item__bot">
                        <span class="reviews-item__date">08.06.2022</span>
                        <span class="reviews-item__name">Кирило</span>
                    </div>
                </div>
                <div class="reviews-item">
                    <div class="reviews-item__rating">
                        <div class="rating-stars">
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star"></span>
                        </div>
                    </div>
                    <div class="reviews-item__text">
                        Nullam elementum lobortis elit. Vivamus eget fringilla tellus.                 </div>
                    <div class="reviews-item__bot">
                        <span class="reviews-item__date">08.06.2022</span>
                        <span class="reviews-item__name">Андрій</span>
                    </div>
                </div>
                <div class="reviews-item">
                    <div class="reviews-item__rating">
                        <div class="rating-stars">
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star"></span>
                        </div>
                    </div>
                    <div class="reviews-item__text">
                        Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...
                    </div>
                    <div class="reviews-item__bot">
                        <span class="reviews-item__date">08.06.2022</span>
                        <span class="reviews-item__name">Аліна</span>
                    </div>
                </div>
                <div class="reviews-item">
                    <div class="reviews-item__rating">
                        <div class="rating-stars">
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star active"></span>
                            <span class="rating-star icon-star"></span>
                        </div>
                    </div>
                    <div class="reviews-item__text">
                        Curabitur tincidunt erat diam, id aliquet libero convallis nec. Nullam elementum lobortis elit. Vivamus eget fringilla tellus. Praesent ac felis eu metus hendrerit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...                </div>
                    <div class="reviews-item__bot">
                        <span class="reviews-item__date">08.06.2022</span>
                        <span class="reviews-item__name">Кирило</span>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <a href="javascript:void(0)" class="button prev disabled">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.64063 1.175C8.82813 1.3625 8.92188 1.5845 8.92188 1.841C8.92188 2.097 8.82813 2.31875 8.64063 2.50625L3.14687 8L8.65938 13.5125C8.83438 13.6875 8.92188 13.9063 8.92188 14.1688C8.92188 14.4312 8.82813 14.6563 8.64063 14.8437C8.45312 15.0312 8.23112 15.125 7.97462 15.125C7.71862 15.125 7.49687 15.0312 7.30937 14.8437L1.00937 8.525C0.934374 8.45 0.881125 8.36875 0.849625 8.28125C0.818625 8.19375 0.803124 8.1 0.803124 8C0.803124 7.9 0.818625 7.80625 0.849625 7.71875C0.881125 7.63125 0.934374 7.55 1.00937 7.475L7.32813 1.15625C7.50313 0.981251 7.71863 0.893751 7.97463 0.893751C8.23113 0.893751 8.45313 0.987501 8.64063 1.175Z"
                            fill="#17232E"/>
                    </svg>

                </a>
                <ul class="pagination__list">
                    <li class="current">
                        <span>1</span>
                    </li>
                    <li>
                        <a href="javascript:void(0)">2</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">3</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">4</a>
                    </li>
                    <li class="dots">
                        <a href="javascript:void(0)">
                            <svg width="10" height="3" viewBox="0 0 10 3" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.0527344 1.27539C0.0527344 1.80859 0.435547 2.13672 0.914062 2.13672C1.39258 2.13672 1.77539 1.80859 1.77539 1.27539C1.77539 0.755859 1.39258 0.414062 0.914062 0.414062C0.435547 0.414062 0.0527344 0.755859 0.0527344 1.27539ZM3.88086 1.27539C3.88086 1.80859 4.26367 2.13672 4.74219 2.13672C5.2207 2.13672 5.60352 1.80859 5.60352 1.27539C5.60352 0.755859 5.2207 0.414062 4.74219 0.414062C4.26367 0.414062 3.88086 0.755859 3.88086 1.27539ZM7.70898 1.27539C7.70898 1.80859 8.0918 2.13672 8.57031 2.13672C9.04883 2.13672 9.43164 1.80859 9.43164 1.27539C9.43164 0.755859 9.04883 0.414062 8.57031 0.414062C8.0918 0.414062 7.70898 0.755859 7.70898 1.27539Z"
                                    fill="#17232E"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">32</a>
                    </li>
                </ul>
                <a class="button next" href="javascript:void(0)">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.359375 14.825C0.171875 14.6375 0.078125 14.4155 0.078125 14.159C0.078125 13.903 0.171875 13.6813 0.359375 13.4938L5.85313 8L0.340625 2.4875C0.165625 2.3125 0.078125 2.09375 0.078125 1.83125C0.078125 1.56875 0.171875 1.34375 0.359375 1.15625C0.546875 0.96875 0.768875 0.875 1.02538 0.875C1.28138 0.875 1.50313 0.96875 1.69063 1.15625L7.99063 7.475C8.06563 7.55 8.11888 7.63125 8.15038 7.71875C8.18138 7.80625 8.19688 7.9 8.19688 8C8.19688 8.1 8.18138 8.19375 8.15038 8.28125C8.11888 8.36875 8.06563 8.45 7.99063 8.525L1.67187 14.8438C1.49687 15.0188 1.28138 15.1063 1.02538 15.1063C0.768875 15.1063 0.546875 15.0125 0.359375 14.825Z"
                            fill="#17232E"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</main>
${require('../parts/footer.html')}
<div class="mfp-hide">

</div>

</body>

</html>
