<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Vizion</title>
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/jpg">
    <meta name="theme-color" content="#101B25">
    <meta name="msapplication-navbutton-color" content="#101B25">
    <meta name="apple-mobile-web-app-status-bar-style" content="#101B25">
</head>

<body id="main">
${require('../parts/header.html')}
<main class="main">
    <div class="thank-you">
        <div class="container">
            <div class="breadcrumbs">
                <a href="/">Головна</a>
                <span>Дякуємо за замовлення</span>
            </div>
            <div class="page-title">Дякуємо за замовлення</div>
            <div class="thank-you__order">Номер Вашого замовлення <span>978987</span></div>
            <div class="thank-you__text">Vel id ultrices congue mauris praesent non lectus pulvinar.</div>
            <div class="thank-you__text">Volutpat magna non maecenas at massa arcu mauris, sem.</div>
            <a href="javascript:void(0)" class="btn">Повернутися до магазину</a>
        </div>
    </div>
</main>
${require('../parts/footer.html')}

</body>

</html>
