<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Providian</title>
  <link rel="shortcut icon" href="../../images/favicon.png" type="image/jpg">
  <meta name="theme-color" content="#0B4899">
  <meta name="msapplication-navbutton-color" content="#0B4899">
  <meta name="apple-mobile-web-app-status-bar-style" content="#0B4899">
</head>

<body id="main">
  ${require('../parts/header.html')}
  <div class="header-spacer"></div>
  <main class="main">
    <div class="container">
      <div class="breadcrumbs">
        <a href="javascript:void(0)">Главная</a>
        <span>Спасибо за заказ</span>
      </div>
    </div>
    </div>
    <div class="page-head">
      <h1 class="page-head__title">Спасибо за заказ</h1>
    </div>
    <div class="th-page">
      <div class="container">
        <p class="th-page__order">Номер Вашего заказа № <span>7537583430598</span></p>
        <p class="th-page__text">Vel id ultrices congue mauris praesent non lectus pulvinar. Volutpat magna non maecenas
          at massa arcu mauris, sem.</p>
        <div class="th-page__link">
          <a href="javascript:void(0)" class="btn">Вернуться в магазин</a>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}
  <div class="mfp-hide">

  </div>

</body>

</html>
