<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Vizion</title>
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/jpg">
    <meta name="theme-color" content="#101B25">
    <meta name="msapplication-navbutton-color" content="#101B25">
    <meta name="apple-mobile-web-app-status-bar-style" content="#101B25">
</head>

<body id="main">
${require('../parts/header.html')}
<main class="main">
    <div class="container">
        <div class="breadcrumbs">
            <a href="javascript:void(0)">Головна</a>
            <a href="javascript:void(0)">Відеогалерея</a>
            <span>Дефібрилятор VIZION AED</span>
        </div>
        <div class="blog photo-gallery gallery-category">
            <div class="blog-top">
                <div class="page-title">Дефібрилятор VIZION AED</div>
            </div>
            <div class="blog-categories__wrapper">
                <ul class="blog-categories">
                    <li>
                        <a href="javascript:void(0)">Усі категорії</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Лабораторія</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Електрохірургія</a>
                    </li>
                    <li class="current">
                        <span>Кардіологія</span>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Медичні меблі</a>
                    </li>
                </ul>
            </div>
            <div class="video-gallery">
                <div class="video-gallery__item popup-btn" data-mfp-src="https://www.youtube.com/watch?v=ZcPLE3k7rK8" data-type="iframe">
                    <picture>
                        <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web" type="image/webp">
                        <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web" type="image/jpg">
                        <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                    </picture>
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="25" cy="25" r="24.5" stroke="#EAEAEA"></circle>
                        <path d="M38.5 24.134C39.1667 24.5189 39.1667 25.4811 38.5 25.866L19 37.1244C18.3333 37.5093 17.5 37.0281 17.5 36.2583L17.5 13.7417C17.5 12.9719 18.3333 12.4907 19 12.8756L38.5 24.134Z" fill="white"></path>
                    </svg>
                </div>
                <div class="video-gallery__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus donec risus cras mi. Amet tortor sociis penatibus quam. Ultrices urna faucibus tristique in hendrerit semper mattis tortor. Varius elit, et sit adipiscing laoreet eros, ac. Mi convallis diam purus, iaculis in molestie sit augue. Quam quis amet eget laoreet commodo eget lorem. Aliquam enim magna sit elementum. Urna sagittis non habitasse scelerisque.
                </div>
                <a href="javascript:void(0)" class="btn video-gallery__btn">Подивитися фотогалерею</a>
            </div>
        </div>
    </div>
</main>
${require('../parts/footer.html')}
</body>

</html>
