.section-bestsellers {
  padding: 35px 0;
  overflow: hidden;
  @include bp(xs) {
    padding: 25px 0;
  }
  +.section-advantages{
    margin-top: -65px;
  }
}

.products-slider {
  margin: -80px 0;
  .slick-track{
    margin: 0;
  }
  .slick-slide {
    margin: 80px 15px;
    transition: .5s ease-in-out;
    &:not(.slick-active){
      opacity: 0;
    }
  }
  .slick-list {
    margin-left: -15px;
    margin-right: -15px;
    overflow: visible;
  }
}

.bestsellers-head {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  @include bp(xs) {
    margin-bottom: 12px;
  }
}

.products-slider-arrows {
  display: flex;
  gap: 19px;
  @include bp(xs) {
    gap: 7px;
  }
  .products-arrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 0;
    border: none;
    background: #fff;
    cursor: pointer;
    @include bp(xs) {
      width: 25px;
      height: 25px;
    }
    &.slick-disabled {
      background-color: $text-grey;
      opacity: 0.5;
      cursor: not-allowed;
    }
    &.slick-hidden{
      display: none;
    }
    svg{
      @include bp(xs) {
        width: 7px;
        height: 12px;
      }
    }
  }
  .products-arrow-prev {
    padding-right: 3px;
  }
  .products-arrow-next {
    padding-left: 3px;
  }
}
