.section-blog{
  padding: 35px 0 40px;
}

.blog-head{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.blog-items{
  display: flex;
  flex-wrap: wrap;
}

.blog-item{
  display: flex;
  height: 215px;
  background: #fff;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  &:hover{
    img{
      transform: scale(1.1);
    }
    .blog-item__title{
      opacity: .85;
    }
    .blog-item__descr{
      opacity: .85;
    }
    .blog-item__footer{
      >svg{
        transform: translateY(-50%) translateX(3px);
      }
    }
  }
  >picture{
    width: 270px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: linear .2s;
    }
  }
  >div{
    width: 300px;
    padding: 30px 22px 20px 30px;
    display: flex;
    flex-direction: column;
    @include bp(lg) {
      padding: 20px;
    }
  }
}

.blog-item__title{
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  height: 45px;
  overflow: hidden;
  color: $main;
  transition: linear .2s;
}

.blog-item__descr{
  flex-grow: 1;
  font-size: 14px;
  line-height: 130%;
  color: $main;
  transition: linear .2s;
}

.blog-item__footer{
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 130%;
  >svg{
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    transition: linear .2s;
  }
}

.blog-item__category{
  color: $blue;
}

.blog-item__date{
  width: 102px;
  color: $grey;
}
