.section-assortment {
  padding: 100px 0 70px;
  position: relative;
  @include bp(xs) {
    padding: 30px 0 25px;
  }

  .anchor {
    position: absolute;
    top: -28px;
    @include bp(xs) {
      display: none;
    }
  }
}

.assortment-title {
  display: block;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 42px;
  line-height: 130%;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  @include bp(xs) {
    font-size: 21px;
    line-height: 130%;
    margin-bottom: 20px;
  }
}

.section-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 29px;
  display: list-item;
  list-style-type: square;
  margin: 0 0 0 22px;
  @include bp(xs) {
    font-size: 21px;
    line-height: 20px;
    list-style-type: none;
    display: block;
    margin-left: 0;
  }

  &:before {
    display: none;
    content: "\25A0";
    color: $red;
    font-size: 12px;
    line-height: 12px;
    position: relative;
    top: -3px;
    margin-right: 13px;
    @include bp(xs) {
      display: inline-block;
    }
  }

  &::marker {
    color: $red;
    @include bp(xs) {
      display: none;
    }
  }
}

.section-subtitle {
  font-size: 18px;
  line-height: 17px;
  display: list-item;
  list-style-type: square;
  color: $main;
  @include bp(xs) {
    font-size: 12px;
    line-height: 12px;
    list-style-type: none;
    display: inline-block;
    margin-left: 0;
  }

  &:before {
    display: none;
    content: "\25A0";
    color: $red;
    font-size: 12px;
    line-height: 12px;
    position: relative;
    top: -1.5px;
    margin-right: 7px;
    @include bp(xs) {
      display: inline-block;
    }
  }

  &::marker {
    color: $red;
    @include bp(xs) {
      display: none;
    }
  }
}

.section-more {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  color: $main;

  span {
    font-size: 14px;
    line-height: 14px;
    transition: linear .2s;
  }

  svg {
    margin-top: 1px;
    transition: linear .2s;
    margin-left: 8px;
  }

  &:hover {
    color: $main;

    span {
      opacity: .85;
    }

    svg {
      transform: translateX(3px);
    }
  }
}

.assortment-text {
  .section-more {
    svg {
      margin-top: 2px;
    }
  }
}

.assortment-main {
  min-height: 440px;
  position: relative;
  padding: 90px 70px 65px;
  background-color: $accent;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  @include bp(xs) {
    padding: 55px 15px 20px 20px;
  }

  &:before {
    position: absolute;
    content: '';
    width: 202px;
    height: 202px;
    border-radius: 50%;
    background: rgba(175, 59, 43, 0.3);
    filter: blur(50px);
    left: 28px;
    top: 183px;
    @include bp(xs) {
      top: 133px;
      left: -12px;
    }
  }

  &:after {
    position: absolute;
    content: '';
    width: 202px;
    height: 202px;
    border-radius: 50%;
    background: rgba(175, 59, 43, 0.3);
    filter: blur(50px);
    top: 83px;
    right: 119px;
    @include bp(xs) {
      display: none;
    }
  }

  .section-subtitle {
    color: $text-grey;
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 1;
    @include bp(xs) {
      top: 23px;
      right: 20px;
    }
  }

  .section-more {
    justify-content: flex-end;
    color: $text-grey;
  }
}

.assortment-text {
  position: relative;
  z-index: 1;
  width: 490px;
  color: $text-grey;
  @include bp(lg) {
    width: 58%;
  }
  @include bp(md) {
    width: 100%;
  }
}

.assortment-text__top {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 130%;
  text-transform: uppercase;
  @include bp(xs) {
    font-size: 16px;
    margin-bottom: 23px;
  }

  * {
    &:last-child {
      margin-bottom: 0;
    }
  }

  span {
    color: $red-light;
  }
}

.assortment-text__bot {
  margin-bottom: 42px;
  font-size: 16px;
  line-height: 130%;
  @include bp(xs) {
    margin-bottom: 24px;
  }

  * {
    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    margin-bottom: 10px;
    @include bp(xs) {
      margin-bottom: 16px;
    }
  }
}

.assortment-pic {
  position: absolute;
  top: 45px;
  right: 2px;
  width: 549px;
  height: 518px;
  @include bp(lg) {
    width: 380px;
    height: fit-content;
  }
  @include bp(md) {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
