.section-reviews {
  padding: 35px 0;
}

.reviews-head{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.reviews-slider {
  .reviews-item {
    min-height: 300px;
  }
  .slick-list {
    margin: 0 -15px;
  }
  .slick-slide {
    padding: 0 15px;
  }
  .slick-arrow{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 0;
    border: none;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    &.slick-prev{
      left: -60px;
      @include bp(lg) {
        left: -38px;
      }
      &:before{
        margin-left: -1px;
      }
    }
    &.slick-next{
      right: -60px;
      @include bp(lg) {
        right: -38px;
      }
      &:before{
        transform: scale(-1, -1);
        margin-right: -3px;
      }
    }
    &:hover{
      &:before{
        background-color: $red;
      }
    }
    &.slick-disabled{
      background: rgba($text-grey, .5);
      &:before{
        background-color: rgba($main, .5);
      }
    }
    &:before{
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      -webkit-mask: url("../images/icons/slider-arrow.svg");
      mask: url("../images/icons/slider-arrow.svg");
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      background-color: $main;
    }
  }
}

.reviews-item {
  display: flex !important;
  flex-direction: column;
  min-height: 300px;
  padding: 30px 30px 39px 20px;
  background-color: #fff;
  border-radius: 10px;
}

.reviews-item__head{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 39px;
}

.reviews-item__text{
  font-size: 14px;
  line-height: 150%;
}

.reviews-item__footer{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 130%;
  margin-top: 30px;
}

.reviews-item__date{
  color: $grey;
}

.reviews-item__name{
  font-weight: 500;
  color: $main;
}

// stars

.rating-stars {
  display: flex;
  .rating-star {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.rating-star {
  flex-shrink: 0;
  display: flex !important;
  &:before {
    content: "";
    width: 15px;
    height: 15px;
    -webkit-mask: url("../images/icons/star.svg");
    mask: url("../images/icons/star.svg");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: $text-grey;
  }
  &.active {
    &:before {
      -webkit-mask: url("../images/icons/star-full.svg");
      mask: url("../images/icons/star-full.svg");
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      background-color: $red;
    }
  }
}
