.section-consult {
  padding: 40px 0 75px;
}

.section-consult__wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding: 54px 30px 60px;
  >picture{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.consult-form{
  width: 350px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  .section-title{
    display: block;
    text-transform: uppercase;
    margin: 0 0 20px;
  }
  .consult-form__row{
    +.consult-form__row{
      margin-top: 11px;
    }
    >label{
      display: block;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 3px;
      color: $grey;
    }
  }
}
