.section-advantages{
  padding: 50px 0 35px;
}

.advantages-main{
  min-height: 380px;
  background: $accent;
  border-radius: 10px;
  position: relative;
  padding: 50px 30px;
  &:before{
    position: absolute;
    content: '';
    width: 147px;
    height: 147px;
    border-radius: 50%;
    background: rgba(175, 59, 43, 0.4);
    filter: blur(50px);
    left: 200px;
    top: 100px;
  }
  &:after{
    position: absolute;
    content: '';
    width: 147px;
    height: 147px;
    border-radius: 50%;
    background: rgba(175, 59, 43, 0.4);
    filter: blur(50px);
    top: 175px;
    right: 123px;
  }
  .section-subtitle{
    color: $text-grey;
    text-align: center;
    width: max-content;
    margin: 0 auto 20px;
    position: relative;
    z-index: 1;
  }
  .section-title{
    display: block;
    color: $text-grey;
    text-align: center;
    margin: 0 auto 52px;
    position: relative;
    z-index: 1;
  }
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -30px;
  position: relative;
  z-index: 1;
  li{
    width: 20%;
    max-width: 210px;
    padding: 0 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include bp(md) {
      width: 33.33333%;
    }
    i{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      background: #fff;
      border-radius: 3px;
      margin-bottom: 18px;
    }
    span{
      text-align: center;
      font-size: 14px;
      line-height: 130%;
      text-transform: uppercase;
      color: $text-grey;
    }
  }
}
