.section-advantages{
  padding: 50px 0 35px;
  @include bp(xs) {
    padding: 25px 0;
  }
}

.advantages-main{
  min-height: 380px;
  background: $accent;
  border-radius: 10px;
  position: relative;
  padding: 50px 30px;
  @include bp(xs) {
    min-height: unset;
    padding: 50px 5px 66px;
  }
  &:before{
    position: absolute;
    content: '';
    width: 147px;
    height: 147px;
    border-radius: 50%;
    background: rgba(175, 59, 43, 0.4);
    filter: blur(50px);
    left: 200px;
    top: 100px;
    @include bp(xs) {
      top: 94px;
      left: 20%;
    }
  }
  &:after{
    position: absolute;
    content: '';
    width: 147px;
    height: 147px;
    border-radius: 50%;
    background: rgba(175, 59, 43, 0.4);
    filter: blur(50px);
    top: 175px;
    right: 123px;
    @include bp(xs) {
      display: none;
    }
  }
  .section-subtitle{
    color: $text-grey;
    text-align: center;
    width: max-content;
    margin: 0 auto 20px;
    position: relative;
    z-index: 1;
    @include bp(xs) {
      margin-bottom: 12px;
      width: 100%;
    }
  }
  .section-title{
    display: block;
    color: $text-grey;
    text-align: center;
    margin: 0 auto 52px;
    position: relative;
    z-index: 1;
    @include bp(xs) {
      width: 223px;
      margin-bottom: 32px;
    }
    &:before{
      @include bp(xs) {
        display: none;
      }
    }
  }
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -30px;
  position: relative;
  z-index: 1;
  @include bp(xs) {
    padding: 0 17%;
    margin-bottom: -20px;
  }
  @media only screen and (max-width: 459px){
    padding: 0 10%;
  }
  @media only screen and (max-width: 389px){
    padding: 0 7%;
  }
  @include bp(xxs) {
    padding: 0;
  }
  li{
    width: 20%;
    max-width: 210px;
    padding: 0 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include bp(md) {
      width: 33.33333%;
    }
    @include bp(xs) {
      max-width: 90px;
      min-width: 90px;
      margin-bottom: 20px;
    }
    i{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      background: #fff;
      border-radius: 3px;
      margin-bottom: 18px;
      @include bp(xs) {
        width: 55px;
        height: 55px;
        margin-bottom: 9px;
      }
      svg{
        @include bp(xs) {
          max-width: 28px;
          max-height: 28px;
        }
      }
    }
    span{
      text-align: center;
      font-size: 14px;
      line-height: 130%;
      text-transform: uppercase;
      color: $text-grey;
      @include bp(xs) {
        font-size: 11px;
      }
    }
  }
}
