.section-blog {
  padding-bottom: 50px;
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }

  & .row {
    display: flex;
    flex-wrap: wrap;

    &>div {
      margin-bottom: 30px;
      @media (max-width: 767px) {
        margin-bottom: 10px;
      }
    }
  }

  & .section-head {
    margin-bottom: 24px;
  }

}

.blog-items {
 &.row {
   @media (max-width: 767px) {
    padding: 0 10px;
   }

   &>div {
     @media (max-width: 767px) {
        padding: 0 5px;
     }
     @media (max-width: 540px) {
       width: 100% !important;
     }
   }
 }
}

.blog-item {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: $grey;
  overflow: hidden;
  text-decoration: none !important;

  &:hover {
    & .blog-item__pic {
      & img {
        transform: scale(1.1);
      }
    }

    & .blog-item__text-desc {
      color: rgba($text, 0.7);
    }
  }
}

.blog-item__pic {
  height: 225px;
  overflow: hidden;
  @media (max-width: 540px) {
      height: auto;
    }

  & picture {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform ease 0.2s;
    }
  }
}

.blog-item__text {
  height: calc(100% - 255px);
  padding-top: 13px;
  padding-left: 15px;
  padding-right: 17px;
  padding-bottom: 20px;
}

.blog-item__text-title {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 130%;
  color: $blue-mid;
}

.blog-item__text-desc {
  margin: 0;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 130%;
  color: $text;
  transition: color ease 0.2s;
}

.blog-item__text-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .round-icon {
    background-color: $blue-light2;
  }
}

.blog-item__date {
  font-size: 12px;
  line-height: 130%;
  color: rgba($text, 0.5);
}
