.section-equipment{
  padding: 70px 0 60px;
}

.equipment-head{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.equipment-list{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  .col-xs-6{
    margin-bottom: 30px;
  }
}

.equipment-item{
  display: block;
  border-radius: 10px;
  overflow: hidden;
  &:hover{
    .equipment-item__title{
      color: $red;
    }
  }
}

.equipment-item__pic{
  width: 100%;
  height: 200px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.equipment-item__title{
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $main;
  text-decoration: none;
}
