.nf{
  padding-bottom: 138px;
}

.nf-page{
  overflow: hidden;
  .page-title{
    margin-bottom: 47px;
  }
}

.nf-txt{
  max-width: 830px;
  font-size: 21px;
  line-height: 130%;
  margin-bottom: 20px;
}

.nf-back{
  width: 170px;
  height: 45px;
  margin-bottom: 10px;
}

.nf-pic {
  picture {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 1920px;
    @media (max-height: 1679px){
      min-width: 1520px;
    }
    @media (max-height: 999px){
      transform: translateX(-50%) translateY(-100px);
      margin-bottom: -100px;
    }
    img {
      width: 100%;
      height: fit-content;
      object-fit: contain;
    }
  }
}
