.about-social-top {
  position: relative;
  display: flex;
  justify-content: end;
  margin-top: -29px;
  margin-bottom: 48px;
  z-index: 1;
  pointer-events: none;
}

.about-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 31px;
  pointer-events: auto;

  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.about-page__text {
  position: relative;
  padding: 66px 150px 83px 109px;
  background-color: $main;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  overflow: hidden;
  color: $text-grey;

  &:before {
    content: "";
    position: absolute;
    top: 177px;
    width: 202px;
    height: 202px;
    right: 118px;
    background: rgba(175, 59, 43, 0.3);
    filter: blur(50px);
  }
}

.about-page__text {
  color: $text-grey;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    ul, ol  {
      max-width: 400px;
    }
  }
  h2, h3 {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 150%;
    text-transform: uppercase;
    color: $text-grey;
    margin-bottom: 28px;

    strong {
      font-style: normal;
      font-weight: 400;
      color: #F25733;
    }
  }

  p {
    margin: 16px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  ol {
    list-style: decimal;
    padding-left: 10px;
  }

  ul {
    list-style: disc;
    padding-left: 15px;
  }

  li  {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

}
