.contacts-page {
  padding-bottom: 100px;
  @include bp(xs) {
    padding-bottom: 60px;
  }
  .page-title {
    margin-bottom: 47px;
    @include bp(xs) {
      margin-bottom: 15px;
    }
  }
  .about-contacts {
    margin-bottom: 30px;
    @include bp(xs) {
      margin-bottom: 20px;
    }
  }
  .about-page__contacts{
    .about-map {
      margin-bottom: 0;
    }
  }
}
