.delivery-page{
  padding-bottom: 80px;
  .page-title{
    margin-bottom: 55px;
  }
  .section-consult{
    padding: 0;
  }
}

.delivery-page__wrapper{
  display: flex;
  flex-wrap: wrap;
  .col-lg-6{
    margin-bottom: 30px;
  }
}

.delivery-page__info{
  padding: 37px 28px 40px 20px;
  border-color: #fff;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  height: 100%;
}

.delivery-subtitle{
  display: block;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 20px;
  color: $red;
  margin-bottom: 31px;
}

.delivery-list{
  li{
    display: flex;
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
    >svg{
      width: 15px;
      min-width: 15px;
      height: 15px;
      margin-right: 11px;
      position: relative;
      top: 4px;
    }
    >div{
      font-size: 16px;
      line-height: 150%;
      >span{
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
      }
    }
  }
}

.delivery-page__footnote{
  margin-top: 66px;
  font-size: 16px;
  line-height: 150%;
  strong{
    display: block;
    font-weight: 500;
    span{
      color: $red;
    }
  }
}
