.delivery-payment {
  padding-top: 32px;
  margin-bottom: 80px;
  @media (max-width: 991px) {
    margin-bottom: 0;
  }
  & .row {
    display: flex;
    flex-wrap: wrap;
  }
  & .col-md-6 {
    @media (max-width: 991px) {
    margin-bottom: 30px;
  }
  }
}

.delivery-payment__cont {
  background: $grey;
  border-radius: 5px;
  height: 100%;
  padding: 35px 25px 30px 25px;
 @media (max-width: 574px) {
    padding: 30px 20px 35px 20px;
 }
  
}

.delivery-payment__title {
  display: block;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 21px;
  line-height: 120%;
  text-transform: uppercase;
  color: $text;
  @media (max-width: 574px) {
    font-size: 19px;
  }
}

.delivery-payment__list {
  & li {
    margin-bottom: 12px;
  }
  & span {
    position: relative;
    display: block;
   margin-bottom: 6px;
    padding-left: 10px;
    font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: $text;
     &::before {
       content: "";
      position: absolute;
      left: 0;
      top: 8px;
       width: 5px;
       height: 5px;
       border-radius: 50%;
       background: $blue;
      @media (max-width: 574px) {
          top: 7px;
          width: 4px;
            height: 4px;
        }
     }
         @media (max-width: 574px) {
           font-size: 13px;
         }
  }
  & p {
    margin: 0;
    padding-left: 10px;
    font-size: 14px;
      line-height: 150%;
      color: #252525;
      @media (max-width: 574px) {
          font-size: 13px;
        }
  }
}

.delivery-payment__bot {
  display: block;
  margin-top: 35px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: $text;

  @media (max-width: 574px) {
    margin-top: 23px;
    font-size: 12px;
  }
}

