@import 'icons';

@font-face {
  font-family: 'Mariupol';
  src: url('../fonts/Mariupol-Regular.eot');
  src: url('../fonts/Mariupol-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mariupol-Regular.woff') format('woff');
  src: url('../fonts/Mariupol-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mariupol';
  src: url('../fonts/Mariupol-Medium.eot');
  src: url('../fonts/Mariupol-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mariupol-Medium.woff') format('woff');
  src: url('../fonts/Mariupol-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mariupol';
  src: url('../fonts/Mariupol-Bold.eot');
  src: url('../fonts/Mariupol-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mariupol-Bold.woff') format('woff');
  src: url('../fonts/Mariupol-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
