.footer-main{
  padding: 61px 0 25px;
  background-color: $main;
  @include bp(sm) {
    padding: 30px 0;
  }
}

.footer-main__wrapper{
  display: flex;
  flex-wrap: wrap;
  @include bp(sm) {
    flex-direction: column;
  }
}

.footer-logo {
  display: block;
  width: 369px;
  height: 36px;
  margin-bottom: 43px;
  @include bp(lg) {
    width: 330px;
    height: 33px;
  }
  @include bp(sm) {
    margin-bottom: 40px;
  }
  @include bp(xs) {
    width: 272px;
    height: 27px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.footer-contacts{
  color: $text-grey;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 170%;
  li{
    a{
      color: $text-grey;
      &:hover{
        color: #fff;
      }
    }
  }
}

.footer-socials{
  display: flex !important;
  &.hidden-xs{
    display: none !important;
  }
  li{
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        max-width: 100%;
      }
      &:hover{
        svg{
          path{
            fill: $text-grey;
          }
        }
      }
    }
  }
}

.footer-right{
  display: flex;
  @include bp(md) {
    margin-top: 45px;
  }
  @include bp(sm) {
    flex-direction: column;
    margin: 0;
  }
}

.footer-menu{
  width: 198px;
  font-size: 14px;
  line-height: 13px;
  @include bp(md) {
    width: 30%;
  }
  @include bp(sm) {
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $grey;
  }
  li{
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
    }
    a{
      color: $text-grey;
      &:hover{
        color: #fff;
      }
    }
  }
  +.footer-menu{
    width: auto;
    flex-grow: 1;
    @include bp(md) {
      width: 30%;
    }
    @include bp(sm) {
      width: 100%;
    }
    @include bp(xs) {
      margin-top: 6px;
    }
  }
}

.footer-schedule{
  width: 225px;
  min-width: 225px;
  font-size: 14px;
  line-height: 13px;
  @include bp(md) {
    width: 40%;
  }
  @include bp(sm) {
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $grey;
  }
  span{
    display: block;
    color: $red-light;
    margin-bottom: 14px;
  }
  div{
    margin-bottom: 11px;
    color: $text-grey;
  }
}

.footer-copyright{
  padding: 25px 0;
  font-size: 12px;
  line-height: 130%;
  color: $text-grey;
  background-color: $main;
  @include bp(sm) {
    padding: 20px 0 27px;
  }
}

.footer-bot{
  display: flex;
  align-items: center;
  //padding: 11px 0 31px;
  min-height: 60px;
  padding: 6px 0;
  @include bp(xs) {
    min-height: 27px;
    padding: 6px 0;
  }
}

.footer-policy{
  display: flex;
  justify-content: flex-end;
  width: max-content;
  margin-left: auto;
  margin-right: 0;
  font-size: 14px;
  line-height: 130%;
  color: $main;
  @include bp(xs) {
    font-size: 12px;
  }
  &:hover{
    color: $main;
    opacity: .85;
  }
}

.fixed-controls{
  visibility: hidden;
  opacity: 0;
  transition: linear .2s;
  pointer-events: none;
  bottom: 80px;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 11;
  @include bp(xs) {
    bottom: 110px;
  }
  &.active{
    visibility: visible;
    opacity: 1;
  }
  >.container{
    display: flex;
    justify-content: flex-end;
  }
}

.to-top{
  width: 60px;
  height: 60px;
  background: rgba(108, 108, 108, 0.4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 50%;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: linear .2s;
  &:hover{
    background: rgba(108, 108, 108, 0.6);
  }
  @include bp(xs) {
    width: 45px;
    height: 45px;
  }
  svg{
    transform: scale(1, -1);
  }
}
