.footer {
  & .row {
    display: flex;
    flex-wrap: wrap;
    
  }
}

.footer-logo {
  @media (max-width: 991px) {
    margin-bottom: 10px;
  }
  & a {
    display: block;
    max-width: 253px;
    margin-bottom: 8px;
    & picture {
      width: 100%;
      height: 100%;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  & span {
    display: block;
    max-width: 196px;
    font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: rgba(247, 247, 247, 0.8);
  }
}

.footer-main {
  padding-top: 24px;
    padding-bottom: 55px;
  background-color: #252525;
    @media (max-width: 574px) {
      padding-bottom: 30px;
    }
}

.footer-main__top {
  padding-bottom: 42px;
  border-bottom: 1px solid rgba(247, 247, 247, 0.3);
  @media (max-width: 574px) {
    padding-bottom: 0;
  }
  & > div > div {
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.footer-main__inner {
  display: flex;
  padding-top: 18px;
  @media (max-width: 767px) {
    flex-wrap: wrap;
  }

  &>div {
    flex-grow: 1;  
    @media (max-width: 767px) {
       padding-right: 10px;
      }
      @media (max-width: 720px) {
        padding-right: 30px;
        width: 50%;
        margin-bottom: 15px;
      }
      @media (max-width: 574px) {
       width: 100%;
      }
  }

  & a, 
  span,
  li{
    font-size: 12px;
    line-height: 16px;
    color: rgba(247, 247, 247, 0.8);
  }
  & li {
    margin-bottom: 6px;
  }
}

.footer-main__title {
  margin-bottom: 17px;
  @media (max-width: 720px) {
    margin-bottom: 8px;
  }
  & span {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.footer-main__messengers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 17px;
  & li {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
    margin-right: 10px;
  }
  & a {
    display: flex;
      justify-content: center;
      align-items: center;
    width: 20px;
    height: 20px;
    &:hover {
      opacity: 0.5;
    }
  }
}

.footer-main__bot{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  @media (max-width: 574px) {
      display: block;
    }
}

.footer-main__social {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
  & li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 7px;

    & a {
      &:hover {
        opacity: 0.5;
      }
    }

  }
}

.footer-main__advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(247, 247, 247, 0.8);
  @media (max-width: 574px) {
    display: block;
  }
}

.footer-copyright__wrapper {
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
}

.footer-copyrite {
   background-color: $grey;
}

.footer-copyright__wrapper {
   display: flex;
  flex-wrap: wrap;
  padding: 11px 0;
  @media (max-width: 767px) {
    display: block;
  }
}

.footer-copyright__left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    color: $text;
    @media (max-width: 767px) {
     margin-bottom: 10px;
    }
    & a {
      padding-left: 3px;
      font-size: 10px;
        line-height: 130%;
        color: #137FBC;
    }
}

.footer-copyright__right a {
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
   justify-content: flex-end;
  }
  & span {
    padding-right: 17px;
    font-size: 10px;
    line-height: 14px;
    color: $text;
  }
}




