.no-goods-page {
  padding-top: 97px;
  padding-bottom: 200px;
  @media (max-width: 574px) {
    padding-top: 80px;
      padding-bottom: 120px;
  }
  & p {
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 18px;
      line-height: 150%;
      text-align: center;
      color: $text;
      @media (max-width: 574px) {
        font-size: 15px;
      }
  }
}

.no-goods-page__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  margin: 0 auto;

  & a {
    width: 250px;
    text-transform: uppercase;
    @media (max-width: 574px) {
      font-size: 13px;
    }
    &:nth-child(1) {
      font-size: 14px;
      line-height: 19px;
      color: $blue;
      border: 1px solid #318ECC;
      filter: -webkit-drop-shadow(0px 0px 20px rgba(56, 56, 56, 0.2));
      filter: drop-shadow(0px 0px 20px rgba(56, 56, 56, 0.2));
      &:hover {
        background-color: $blue;
        color: #fff;
      }
    }
         &:nth-child(2) {
           background-color: $blue;
           color: #fff;
           &:hover {
            background-color: $blue-mid2;
           }
         }
  }
}
