.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  @media (max-width: 991px) {
    margin-top: 67px;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    align-items: center;
        padding: 0 54px;
@media (max-width: 574px) {
  padding: 0 20px;
}
    & li {
      & a {
          transition: all linear 0.2s;
        }
    }

    & li+li {
      margin-left: 10px;
    }

    & li.current {
      & span {
        border: 1px solid $blue-mid;
        pointer-events: none;
        transition: all linear 0.2s;
      }
    }

    & li.dots {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 7px;
      border: none;
      & a {
        height: 100%;
        flex-shrink: 0;
        height: 20px;
        border: none;
      }
    }
  }

  & span,
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 12px;
    color: $text;
    transition: border linear 0.2s;
    &:hover {
      border: 1px solid rgba($text, 0.5);
      text-decoration: none;
    }
  }

  & .button {
    opacity: 0.5;
    border: 1px solid $text;
  transition: all linear 0.2s;
    &>svg path {
      transition: fill linear 0.2s;
    }

    &:hover {
      opacity: 1;
      border: 1px solid $text;

      &>svg path {
        fill: $text;
      }
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
