.photo-gallery{
  padding-bottom: 60px;
  @include bp(xs) {
    padding-bottom: 35px;
  }
  .blog-item{
    >div{
      padding-top: 20px;
      @include bp(xs) {
        padding-top: 18px;
      }
    }
    .blog-item__count{
      font-size: 12px;
      line-height: 130%;
      color: $grey;
      text-align: right;
      margin-bottom: 10px;
      @include bp(xs) {
        margin-bottom: 5px;
      }
    }
    .blog-item__title{
      display: flex;
      align-items: flex-end;
      height: auto;
      flex-grow: 1;
      margin-bottom: 16px;
      @include bp(xs) {
        align-items: center;
        min-height: 63px;
        max-height: 63px;
        line-height: 130%;
        margin-bottom: 8px;
      }
    }
    .blog-item__date{
      width: max-content;
      padding-right: 25px;
    }
    .blog-item__category{
      @include bp(xs) {
        margin-bottom: 0;
      }
    }
  }
  &.gallery-category{
    .blog-top{
      position: relative;
      @include bp(xs) {
        margin-bottom: 14px;
      }
      &:after{
        position: absolute;
        content: '';
        width: 15px;
        left: 100%;
        top: calc(100% + 5px);
        z-index: 1;
        height: 15px;
        background-color: #f2f2f2;
        display: none;
        @include bp(sm) {
          display: block;
        }
      }
    }
    .blog-categories{
      position: relative;
      @include bp(xs) {
        padding-top: 12px;
      }
      &:before{
        position: absolute;
        content: '';
        width: calc(100% - 15px);
        left: 0;
        top: 0;
        height: 1px;
        background-color: $text-grey;
        display: none;
        @include bp(sm) {
          display: block;
        }
      }
    }
  }
}

.gallery-item{
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(0px 8px 30px rgba(0, 0, 0, 0.03));
  height: 454px;
  transition: linear .3s;
  cursor: pointer;
  @include bp(xs) {
    height: calc(76.5vw - 30px);
  }
  &:hover{
    filter: drop-shadow(0px 8px 30px rgba(0, 0, 0, 0.1));
    svg{
      transform: scale(1);
      opacity: 1;
    }
  }
  picture{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  svg{
    position: absolute;
    z-index: 1;
    right: 24px;
    bottom: 24px;
    transform: scale(0);
    opacity: 1;
    transition: ease-in-out .3s;
    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.15));
    @include bp(xs) {
      width: 22px;
      height: 22px;
      right: 15px;
      bottom: 15px;
    }
  }
}

.photo-gallery__btn{
  width: 238px;
  height: 45px;
  margin-top: 20px;
  @include bp(xs) {
    width: 210px;
    height: 40px;
    margin-top: 13px;
  }
}

.video-gallery{
  width: 770px;
  max-width: 100%;
}

.video-gallery__item{
  width: 100%;
  height: 450px;
  filter: drop-shadow(0px 8px 30px rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 46px;
  @include bp(xs) {
    height: calc(84.5vw - 30px);
    margin-bottom: 20px;
  }
  &:hover{
    svg{
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
  picture{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  svg{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: linear .2s;
  }
}


.video-gallery__description{
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 46px;
  @include bp(xs) {
    margin-bottom: 25px;
  }
  *{
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.video-gallery__btn{
  width: 270px;
  height: 45px;
  @include bp(xs) {
    width: 210px;
    height: 40px;
  }
}
