.product-page{
  padding-bottom: 85px;
}

.product-title{
  font-weight: 500;
  font-size: 42px;
  line-height: 40px;
  text-transform: uppercase;
  display: list-item;
  list-style-type: square;
  margin-bottom: 16px;
  margin-left: 29px;
  &::marker{
    color: $red;
  }
}

.product-top__info{
  display: none;
  margin-top: 30px;
  @include bp(md){
    display: block;
  }
  @include bp(xs){
    margin-top: 10px;
  }
  .product-title{
    @include bp(md){
      display: block;
    }
  }
}

.product-main__wrapper{
  padding: 40px 70px 50px 25px;
  background: #fff;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  margin-bottom: 54px;
  .row{
    display: flex;
    flex-wrap: wrap;
  }
}

.product-main__photo{
  position: relative;
}

.product-label{
  position: absolute;
  z-index: 1;
  right: 30px;
  top: -12px;
  background-color: #fff;
  width: 80px;
  min-width: fit-content;
  height: 30px;
  border: 1px solid #F25733;
  border-radius: 20px;
  color: #F25733;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  font-size: 14px;
  line-height: 130%;
}

.product-slider{
  width: 100%;
  height: 420px;
  min-height: 420px;
  max-height: 420px;
  overflow: hidden;
  .slide{
    height: 420px;
    min-height: 420px;
    max-height: 420px;
    cursor: zoom-in;
    picture{
      width: 100%;
      height: 100%;
      img{
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    .embed-responsive{
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.product-nav{
  .slick-slide{
    padding-right: 20px;
    height: 80px;
    cursor: pointer;
    >div{
      height: 100%;
    }
    &:hover{
      picture{
        opacity: .75;
      }
    }
  }
  .slide{
    width: 80px;
    height: 80px;
    picture{
      width: 100%;
      height: 100%;
      img{
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    &.video-preview{
      position: relative;
      >svg{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
  }
}

.product-info{
  padding-top: 6px;
}

.product-info__head{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.product-id{
  font-size: 14px;
  line-height: 19px;
  display: flex;
  color: $grey-dark;
  span{
    color: $grey;
    margin-right: 10px;
  }
}

.product-info__short-description{
  margin-bottom: 12px;
  >span{
    display: block;
    font-size: 14px;
    line-height: 130%;
    color: $grey;
    margin-bottom: 7px;
  }
  >div{
    font-size: 16px;
    line-height: 130%;
  }
}

.product-availability{
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  color: $green;
  svg{
    margin-right: 10px;
    position: relative;
    top: -1px;
  }
  &.not-available{
    color: $grey;
    svg{
      path{
        fill: $grey;
      }
    }
  }
}

.product-manufacturer{
  display: flex;
  color: $grey;
  margin-bottom: 24px;
  span{
    margin-left: 3px;
    color: $grey-dark;
  }
}

.product-price__wrapper{
  display: flex;
  align-items: flex-end;
  margin-bottom: 29px;
  .product-counter{
    width: 198px;
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    @include bp(lg){
      width: 160px;
    }
    @include bp(md){
      width: 198px;
    }
    @include bp(xs){
      width: 100%;
    }
    >input{
      font-size: 21px;
      font-weight: 500;
      height: 35px;
      width: calc(100% - 70px);
      background-color: transparent;
      border: 1px solid #CDCDCD;
      border-radius: 2px;
      text-align: center;

    }
    >span{
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 30px;
      height: 35px;
      font-size: 21px;
      font-weight: 500;
      border: 1px solid #CDCDCD;
      border-radius: 2px;
    }
  }
}

.product-price{
  display: flex;
  align-items: flex-end;
}

.normal-price{
  font-weight: 700;
  font-size: 30px;
  line-height: 29px;
  color: $grey-dark;
  margin-right: 20px;
  small{
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
  }
}

.old-price{
  font-size: 14px;
  line-height: 130%;
  text-decoration: line-through;
  color: $grey;
}

.product-buttons__group{
  display: flex;
  margin-bottom: 32px;
  .btn{
    min-width: max-content;
    height: 45px;
    &.btn-consult{
      width: 137px;
      margin-right: 15px;
    }
    &.btn-buy{
      width: 120px;
      svg{
        width: 14px;
        height: 14px;
        margin-right: 7px;
      }
      &.in-cart{
        background-color: $red;
        &:hover{
          background-color: $main;
        }
        svg{
          width: 10px;
          height: 9px;
          margin-right: 7px;
        }
      }
      &.not-available{
        width: 178px;
        background: #F7F7F7;
        &:hover{
          background-color: $main;
          svg{
            path{
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

.product-info__payment-delivery{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.product-info__payment{
  display: flex;
  align-items: center;
  >span{
    margin-right: 6px;
    font-size: 11px;
    line-height: 130%;
    color: #000;
  }
  .visa{
    display: flex;
    width: 69px;
    height: 19px;
    margin-right: 11px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .wayforpay{
    display: flex;
    width: 76px;
    height: 16px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.product-info__delivery{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F7F7F7;
  border: 1px solid $text-grey;
  border-radius: 3px;
  font-size: 11px;
  line-height: 11px;
  width: 256px;
  height: 33px;
  padding: 7px 15px;
  svg{
    margin-right: 10px;
  }
  div{
    position: relative;
    bottom: -1px;
    span{
      font-weight: 500;
    }
  }
}

.product-info__set{
  border: 1px solid $text-grey;
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
  line-height: 130%;
  color: #000;
  padding: 19px 20px;
  ul{
    list-style-type: square;
    margin-left: 13px;
    li{
      margin-bottom: 4px;
    }
  }
}

.product-tabs__wrapper{
  margin-bottom: 70px;
  .product-tabs__container{
    @include bp(md){
      overflow: auto;
    }
    @include bp(sm){
      width: calc(100% + 15px);
    }
    >ul{
      display: flex;
      gap: 10px;
      font-size: 14px;
      line-height: 13px;
      @include bp(md){
        min-width: max-content;
      }
      @include bp(sm){
        padding-right: 15px;
      }
      li{
        display: flex;
        justify-content: center;
        background-color: #fff;
        border-radius: 10px 10px 0 0;
        flex: 1 0 auto;
        position: relative;
        text-align: center;
        padding: 22px 15px 13px;
        cursor: pointer;
        color: rgba($main, .5);
        transition: linear .05s;
        &:after{
          opacity: 0;
          position: absolute;
          content: '';
          border-radius: 10px 10px 0 0;
          border: 1px solid $text-grey;
          border-bottom: 0;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          transition: linear .05s;
        }
        &:before{
          position: absolute;
          content: '';
          width: calc(100% - 2px);
          height: 3px;
          background-color: #fff;
          left: 1px;
          bottom: -1px;
        }
        &:hover{
          color: $main;
        }
        &.active{
          color: $main;
          position: relative;
          z-index: 2;
          &:after{
            opacity: 1;
          }
          span{
            width: max-content;
            display: list-item;
            list-style-type: square;
            &::marker{
              color: $red;
            }
          }
        }
      }
    }
  }
  .tabs-content{
    display: none;
    padding: 60px 40px;
    background-color: #fff;
    border: 1px solid $text-grey;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.03);
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: 1;
    @include bp(xs){
      padding-top: 20px;
      padding-bottom: 50px;
    }
    &.active{
      display: block;
    }
    .tabs-content__text{
      font-size: 14px;
      line-height: 130%;
      padding: 0 95px 20px 0;
      p{
        display: block;
      }
      ul{
        padding-left: 18px;
        list-style-type: disc;
        margin-bottom: 10px;
      }
      ol{
        padding-left: 18px;
        list-style-type: decimal;
        margin-bottom: 10px;
      }
      table{
        width: 100%;
        border-radius: 5px;
        font-size: 14px;
        line-height: 180%;
        tr{
          border-bottom: 1px solid rgba(56, 56, 56, 0.1);
          &:last-child{
            border: none;
          }
          td{
            padding: 12px 20px;
          }
        }
        td{
          &:first-child{
            opacity: .5;
            width: 25%;
          }
        }
      }
    }
  }
}

.product-video__wrapper{
  background-color: #fff;
  padding: 127px 0 138px;
  margin-bottom: 35px;
}

.product-video{
  width: 770px;
  height: 450px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
  &:hover{
    &:after{
      background-color: rgba(0, 0, 0, 0.3);
    }
    svg{
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
  picture{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &:after{
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: linear .2s;
  }
  svg{
    position: absolute;
    z-index: 2;
    transition: linear .2s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.section-bestsellers {
  &.product-page__bestsellers{
    overflow: hidden;
    margin-bottom: -80px;
  }
}
