.th-page {
padding-top: 49px;
  padding-bottom: 200px;
	@media (max-width: 574px) {
			padding-bottom: 100px;
	}
}

.th-page__order {
  margin: 0;
  margin-bottom: 19px;
  font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: $text;
    & span {
      color: $blue-mid;
    }
}

.th-page__text {
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 31px;
  font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: $text;
    @media (max-width: 767px) {
      font-size: 16px;
    }
}

.th-page__link {
  & a {
    font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
    max-width: 250px;
    margin: 0 auto;
    background-color: $blue;
    color: #fff !important;
    &:hover {
      background-color: $blue-mid2;
    }
    @media (max-width: 574px) {
      font-size: 13px;
    }
  }
}
