// Переменные для приложения и всех модулей

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;

$default: 'Mariupol', -apple-system, BlinkMacSystemFont, sans-serif;

$blue-mid: #36A4EE;
$blue-mid2: #137FBC;
$blue-light: #87C8F3;
$blue-light2: #B0DBF6;

$main: #17232E;
$accent: #101B25;
$blue: #0B4899;
$red: #AF3B2B;
$grey: #6C6C6C;
$grey-dark: #383838;
$grey-light: #EAEAEA;
$text: #252525;
$text-grey: #CDCDCD;
$green: #038C42;

