@import 'variables';
@import 'vendor';
@import 'fonts';
@import 'mixin';

body {
  min-width: 320px;
  color: $main;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  background-color: #F2F2F2;
  font-family: $default;
  font-weight: 400;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  @include bp(md) {
    display: block;
  }

  &.fixed-header {
    .overlay {
      top: 50px;
    }

    .cat-menu {
      max-height: calc(100vh - 80px);
    }

    .main-submenu {
      > div {
        top: 83px;
      }
    }
  }

  &.open-mobile-menu {

  }

  &.open-menu {
    .overlay {
      visibility: visible;
      opacity: 1;
      z-index: 997;
    }
  }

  &.sumoStopScroll {
    overflow: unset;
  }

  &.open-search-results {
    .overlay {
      visibility: visible;
      opacity: 1;
      z-index: 997;
    }
  }

  &.filters-opened {
    .overlay {
      top: 0;
      z-index: 1001;
      opacity: 1;
      visibility: visible;
    }
  }

}


ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*, a, .slick-slide {
  outline: none;
  box-shadow: none;

  &:focus {
    outline: none;
  }
}

a {
  transition: 0.2s linear;

  &:hover {
    text-decoration: none;
  }

  &:not([class]) {
    color: $main;
    text-decoration: none;

    &:hover {
      color: $accent;
    }
  }
}

svg {
  * {
    transition: linear 0.2s;
  }
}

main {
  position: relative;
  flex: 1 0 auto;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  transition: linear .3s;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: rgba($main, 0.3);
}

.section {
  clear: both;
  transition: linear .3s;
}

.container, .row {
  &:before, &:after {
    display: none;
  }
}

//.container {
//  @media (min-width: 1200px) {
//    width: 1200px;
//  }
//  @include bp(sm) {

.container {
  width: 1200px;
  max-width: calc(100% - 60px);
  @include bp(sm) {
    width: 100%;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 45px;
  padding: 8px;
  border-radius: 5px;
  font-family: $default;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  transition: linear 0.2s;
  cursor: pointer;
  outline: none !important;
  box-shadow: none;
  &:focus,
  &:hover {
    outline: none !important;
    box-shadow: none;
  }
  &.btn-b {
    max-width: 260px;
    background-color: $blue-mid;
    color: #fff;

    &:focus,
    &:hover {
      text-decoration: none;
      outline: none !important;
      background-color: $blue;
      box-shadow: none;
    }
  }

  &.btn-tr {
    border: 1px solid $grey;
    background-color: transparent;
    outline: none !important;
    color: #fff;

    &:focus,
    &:hover {
      border: 1px solid $blue-mid;
      background-color: $blue-mid;
      box-shadow: none;
    }
  }
}

.input,
.textarea {
  &:focus {
    &::-webkit-input-placeholder {
      color: transparent !important;
    }

    &::-moz-placeholder {
      color: transparent !important;
    }

    &:-ms-input-placeholder {
      color: transparent !important;
    }

    &:-moz-placeholder {
      color: transparent !important;
    }
  }
}

.input-wrapper {
  position: relative;

  &.err {
    .input, .textarea {
      border-color: $red;
      background-color: #fff;
      color: transparent;

      &::placeholder {
        color: transparent !important;
      }
    }
  }

  .validate-error {
    color: $red;
    font-size: 12px;
    left: 15px;
    top: 12px;
    text-align: left;
    padding: 0;
    transform: none;
    z-index: 2;
    pointer-events: none;
    font-family: $default;
    @include bp(xs) {
      top: 10px;
    }
  }
}

.input{
  background-color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #fff;
  outline: none !important;
  box-shadow: none !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 0 15px;
  color: $main;
  -webkit-appearance: none;
  appearance: none;
}

.textarea{
  background-color: #fff;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #fff;
  outline: none !important;
  box-shadow: none !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 15px;
  color: $main;
  resize: none;
  height: 90px;
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 3px;
    transition: linear .2s;
    box-shadow: 1px 0 0 transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $main;
    border-radius: 0;
    width: 1px;
    transition: linear .2s;
    cursor: grab;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover {
  -webkit-text-fill-color: $main;
  -webkit-box-shadow: inset 0 0 0 1000px transparent;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: $main;
}

::selection {
  background: rgba($accent, .35);
  color: #fff;
  text-shadow: none;
}

// Header
@import 'header';

@import 'main/section-1';
@import 'main/section-2';
@import 'main/section-3';
@import 'main/section-4';
@import 'main/section-5';
@import 'main/section-6';
@import 'main/section-7';
@import 'main/section-8';
@import 'main/section-9';

// Footer
@import 'footer';

// Breadcrumbs
@import 'breadcrumbs';

// Pagination
@import 'pagination';

// Popup
@import 'popup';

// Pages
@import 'contacts';
@import '404';
@import 'blog';
@import 'reviews';
@import 'delivery-payment';
@import 'warranty';
@import 'product';
@import 'catalog';
@import 'price';
@import 'about';
@import 'purchase';
@import 'faq';
@import 'checkout';
@import 'no-goods';
@import 'thank-you';
