.warranty-messenger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
  & a:hover {
    opacity: 0.5;
  }
}

.warranty {
  margin-top: 30px;
  @media (max-width: 574px) {
    margin-top: 20px;
  }
  & .row {
    display: flex;
    flex-wrap: wrap;
    & .col-md-6 {
      @media (max-width: 991px) {
       width: 100%;
      margin-bottom: 30px;
      }
      & + .col-md-6 {
        margin-bottom: 0;
      }
    }
  }
  & .container > p {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: $text;
    @media (max-width: 991px) {
      margin-top: 30px;
      font-size: 13px;
    }
    @media (max-width: 574px) {
      font-size: 12px;
    }
  }
}

.warranty__cont {
  background: $grey;
  border-radius: 5px;
  height: 100%;
  padding: 35px 25px 30px 25px;
  @media (max-width: 574px) {
    padding: 30px 20px 35px 20px;
  }
  & > p {
    margin: 0;
    margin-bottom: 37px;
    font-size: 12px;
      line-height: 150%;
      color: $text;
  }
}

.warranty__title {
  display: block;
  margin-bottom: 13px;
  font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: $text;
    @media (max-width: 574px) {
      font-size: 13px;
    }
}

.warranty__list {
  & li {
    margin-bottom: 11px;
  }

  & p {
    position: relative;
    display: block;
    margin: 0;
    margin-bottom: 6px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 150%;
    color: $text;
    @media (max-width: 574px) {
      font-size: 13px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 8px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $blue;

      @media (max-width: 574px) {
        top: 7px;
        width: 4px;
        height: 4px;
      }
    }

    @media (max-width: 574px) {
      font-size: 13px;
    }
  }
}

.warranty__contacts {
  &>span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
&:last-of-type {
    margin-bottom: 17px;
  }
    & a:first-child {
      margin-left: 5px;
    }
       

    & span {
      padding: 0 8px;
      opacity: 0.5;
    }
  }

  & span,
  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $text;
  }
  & .warranty-messenger {
    justify-content: flex-start;
  }
}

.page-head__links {
  margin-bottom: 80px;
  @media (max-width: 574px) {
    margin-bottom: 30px;
  }

  & .col-md-6 {
    &:nth-child(1) {
      & a::before {
        left: -115px;
        @media (max-width: 991px) {
          top: auto;
          left: -105px;
        bottom: -100px;
        }
      }

      & a::after {
        right: -101px;
        bottom: -100px;
        @media (max-width: 574px) {
    right: -100px;
        }
      }
    }

    &:nth-child(2) {
      & a::before {
        right: -115px;
        @media (max-width: 991px) {
          right: -100px;
          top: -100px;
        }
      }

      & a::after {
        left: -101px;
        @media (max-width: 991px) {
          top: -100px;
          left: -105px;
          bottom: auto;
        }
      }
    }
  }
}

.warranty__link {
  & a {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 215px;
    padding: 20px 120px;
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: $blue;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    &:hover {
        background: $blue-mid;
        // color: $text;
    }
    @media (max-width: 1199px) {
      padding: 20px 60px;
    }
        @media (max-width: 991px) {
          padding: 20px 170px;
        }
                @media (max-width: 767px) {
                  padding: 20px 150px;
                }
                @media (max-width: 607px) {
                  padding: 20px 100px;
                }
                @media (max-width: 574px) {
                  padding: 20px 30px;
                  font-size: 15px;
                    line-height: 25px;
                }

    &::before {
      content: "";
      position: absolute;
      top: -67px;
      display: block;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      pointer-events: none;
      border: 20px solid $blue-mid2;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -97px;
      display: block;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      pointer-events: none;
      border: 20px solid $blue-light;
    }
  }
}


