.page-warranty {
  padding-top: 42px;
  padding-bottom: 65px;
  @include bp(xs) {
    padding-top: 15px;
    padding-bottom: 70px;
  }
  .container {
    .row {
      display: flex;
      @include bp(md) {
        flex-wrap: wrap;
        gap: 30px;
      }
      @include bp(xs) {
        gap: 20px;
      }
    }
  }
  .section-consult {
    padding: 0;
  }

  .col-lg-6:nth-child(1) p {
    font-size: 16px;
  }
}

.page-warranty__inner {
  height: 100%;
  padding: 37px 42px 42px 65px;
  background: #FFFFFF;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  @include bp(xs) {
    padding: 25px 15px 30px 20px;
  }
  p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $main;
    strong {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      @include bp(xs) {
        font-size: 14px;
      }
    }
    a {
      display: inline;
    }
  }
  strong {
    font-weight: 500;
  }
  .page-warranty__inner-wrapper {
    a {
      display: block;
    }
  }
  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    @include bp(xs) {
      font-size: 14px;
    }
    &:hover {
      color: $red;
    }
  }
  .about-messengers{
    @include bp(xs) {
      gap: 30px;
    }
    a{
      @include bp(xs) {
        display: flex;
      }
    }
  }
}

.page-warranty__inner-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  @include bp(xs) {
    margin-top: 22px;
    margin-bottom: 25px;
  }
}

.page-warranty__block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 43px;
  padding: 82px 50px 59px 50px;
  border-radius: 10px;
  background-color: $main;
  overflow: hidden;
  @include bp(xs) {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 72px 18px 69px;
  }
  &:before{
    position: absolute;
    content: '';
    display: none;
    top: 17px;
    width: 202px;
    height: 202px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(175, 59, 43, 0.3);
    filter: blur(50px);
    @include bp(xs) {
      display: block;
    }
  }
  svg {
    position: absolute;
    top: 52px;
    pointer-events: none;
    z-index: 1;
    @include bp(xs) {
      display: none;
    }
    &:nth-of-type(1) {
      width: 202px;
      height: 202px;
      top: 52px;
      left: 97px;
    }
    &:nth-of-type(2) {
      width: 202px;
      height: 202px;
      top: 52px;
      right: 136px;
    }
  }
}

.page-warranty__block-inner {
  position: relative;
  z-index: 2;
  p {
    max-width: 570px;
    margin-top: 0;
    margin-bottom: 29px;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    text-align: center;
    color: $text-grey;
    @include bp(xs) {
      font-size: 18px;
      margin-bottom: 24px;
    }
  }
  .btn {
    width: 195px;
    margin: 0 auto;
    background-color: $red;
    &:hover {
      background-color: #fff;
      color: $main;
    }
  }
}

